
@font-face {
  font-family: 'avenir-light';
  src: url('../fonts/avenir-light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-light.woff') format('woff'),
  url('../fonts/avenir-light.ttf')  format('truetype'), 
  url('../fonts/avenir-light.svg#avenir-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-medium';
  src: url('../fonts/avenir-medium.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-medium.woff') format('woff'), 
  url('../fonts/avenir-medium.ttf')  format('truetype'), 
  url('../fonts/avenir-medium.svg#avenir-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-roman';
  src: url('../fonts/avenir-roman.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-roman.otf')  format('opentype'),
	     url('../fonts/avenir-roman.woff') format('woff'), 
		 url('../fonts/avenir-roman.ttf')  format('truetype'),
		 url('../fonts/avenir-roman.svg#avenir-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.unveiled-navigation.is-small {
    background-color: #fff !important;
}

.unveiled-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; }
nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-transparent {
    background-color: transparent !important;
}
.unveiled-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-fixed {
    background-color: #fff !important;
    box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.12);
}
.header .navbar-light.nav-fixed .navbar-nav .nav-link {
    color: #000;
}
.header .nav-fixed a.nav-link.talant-btt{
	color: #000 !important;
}
img.logo-white {
    display: none;
}
.nav-fixed img.logo-white {
    display: block;
}

.nav-fixed img.logo-nav {
    display: none;
}

.header .navbar-light .navbar-nav .active>.nav-link, .header .navbar-light .navbar-nav .nav-link.active, .header .navbar-light .navbar-nav .nav-link.show, .header .navbar-light .navbar-nav .show>.nav-link {
    border-bottom: 1px solid;
}

.right-nav button#dropdownMenuButton {
    display: flex;
    align-items: center;
    padding: 0;
    outline: none;
    box-shadow: unset;
    color: #4a4a4a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
}
span.bell-bg {
    width: 15px;
    height: 15px;
    background-color: #f26678;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    justify-content: center;
    margin: 13px 20px;
}
.right-nav button#dropdownMenuButton a.nav-link {
    color: #4a4a4a;
    font-family: avenir-roman;
    font-weight: 800;
}
.right-nav button#dropdownMenuButton img {
    padding-right: 6px;
}
li.nav-item.bel {
    padding-right: 34px;
    position: relative;
    margin-right: 20px;
}
li.nav-item.bel:before {
    width: 1px;
    height: 36px;
    border: 1px solid #e3e3e3;
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
}

li.nav-item.bel a i {
    font-size: 24px;
    color: #cacaca;
    margin-top: 11px;
}


.bg-light {
    background-color: #fff !important;
    padding: 25px 100px;
}
.deshbord-nav {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
}
ul.nav-dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
}

.right-nav .dropdown-menu.show {
    width: 253px;
    box-shadow: 0 14px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    left: -98px;
    padding: 15px;
}

.nav-dropdown a {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 13px;
    text-decoration: none;
}

.nav-dropdown li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}

.nav-dropdown li:last-child {
    border: 0;
}
.container-fluid {
    padding: 0 80px;
}
.navbar-light .navbar-nav .nav-link {
    color: #606060;
    font-family: avenir-light;
    font-size: 21px;
    font-weight: 300;
    padding: 10px 25px;
}
.navbar-light .navbar-brand {
    margin-right: 50px;
}
a.nav-link.talant-btt {
    background-color: #072f41;
    color: #fff !important;
    text-transform: uppercase;
    font-family: avenir-medium !important;
}
/***********banner*******/
.banner:before {
    content: "";
    background-image: url(../img/line.png);
    width: 1187px;
    height: 1013px;
    position: absolute;
    top: -145px;
    right: -90px;
}
.banner {
    padding-top: 195px;
    position: relative;
    overflow: hidden;
    margin-top: 100px;
}
.banner h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
}

.banner p {
    color: #606060;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
}

.hear-button a {
    display: inline-block;
}

.hear-button {
    margin-top: 47px;
}

.hear-button a button {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    padding: 14px 34px;
}
.banner-lapto img {
    width: 100%;
}
button.btn.btn-secondary.green-bg {
    background-color: #00b296;
    border-color: #00b296;
    color: #fff;
}

button.btn.btn-secondary.white-border {
    border: 1px solid #072f41;
    background-color: #ffffff;
}
/********logo-list**********/
.logo-list {
    box-shadow: 0 3px 14px rgba(0, 128, 255, 0.09);
    background-color: #ffffff;
    padding: 30px 50px;
}

.logo-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-list ul li h2 {
    color: #b4b4b4;
    font-family: "Avenir";
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
}
.we-talent {
    margin-top: 56px;
}

.we-talent h3 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 45px;
    font-weight: 300;
}

.we-talent p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
}

.we-talent a {
    color: #ff5974;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
}
/**********client-gallrey**********/
.slide-box {
    box-shadow: 0 4px 12px rgba(0, 128, 255, 0.09);
    background-color: #ffffff;
}

.popular-course .slick-slide:first-child .slide-box {
    opacity: 0.1;
    padding: ;
}
.popular-course .slick-slide:last-child .slide-box {
    opacity: 0.1;
    padding: ;
}

.slide-tex h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
}

.slide-tex p {
    margin: 0;
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.slide-tex {
    padding: 15px;
}

.slide-tex p span {
    padding-right: 6px;
}

.client-gallrey {
    background-image: linear-gradient(180deg, #f9f9f9 0%, #ffffff 100%);
    margin-top: 73px;
    padding: 80px 30px;
    overflow: hidden;
}

.slider-labels {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}

/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
/* Fix 401 */
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s,top .3s;
  transition: left 0.3s,top .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base,.noUi-handle {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: -7px;
  top: -7px;
  background-color: #ff5974;
}

/* Styling;
 */
.noUi-background {
  background: #D6D7D9;
}

.noUi-connect {
    background: #ff5974;
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

span#slider-range-value1 {
    color: #a1a1a1;
    font-family: avenir-medium;
    font-size: 15px;
    font-weight: 500;
}

span#slider-range-value2 {
    color: #a1a1a1;
    font-family: avenir-medium;
    font-size: 15px;
    font-weight: 500;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 2px;
}

.noUi-target.noUi-connect {
}

/* Handles and cursors;
 */
.noUi-draggable {
  cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
  cursor: n-resize;
}

.noUi-handle {
  cursor: default;
  box-sizing: content-box !important;
}

.noUi-handle:active {
  border: 8px solid #345DBB;
  border: 8px solid rgba(53,93,187,0.38);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  left: -14px;
  top: -14px;
}

/* Disabled state;
 */
[disabled].noUi-connect,[disabled] .noUi-connect {
  background: #B8B8B8;
}

[disabled].noUi-origin,[disabled] .noUi-handle {
  cursor: not-allowed;
}
.range-slider {
    max-width: 392px;
    margin: 0 auto;
    margin-top: 75px;
}

button.btn.btn-secondary.diceover-btt {
    background-color: #00b296;
    padding: 22px 75px;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 22px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 59px;
    display: block;
    border-color: #00b296;
}
/**************connect-demand********/
.connect-demand h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 40px;
}
.row.two h2 {
    padding-top: 100px;
}
.row.three h2 {
    padding-top: 100px;
}
.connect-demand p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.connect-demand ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.connect-demand ul li {
    display: flex;
    align-items: center;
}

.connect-demand ul li span {
    margin-right: 10px;
}

.connect-demand ul li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 47px;
    margin: 0;
}

button.btn.btn-secondary.Get-Started {
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 21px;
    margin-top: 70px;
}
button.btn.btn-secondary.Get-Started.green {
    border: 2px solid #2caf97;
    color: #2caf97;
}
button.btn.btn-secondary.Get-Started.yello {
    border: 2px solid #f4a625;
    color: #f4a625;
}
button.btn.btn-secondary.Get-Started.red {
    color: #ff5974;
    border: 2px solid #ff5974;
}
ul.Designers-list {
    display: flex;
    flex-wrap: wrap;
}

ul.Designers-list li {
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
	position:relative;
}
ul.Designers-list li:before {
    content: "";
    width: 154px;
    height: 10px;
    background-color: #054159;
    bottom: -23px;
    position: absolute;
}

ul.Designers-list li h4 {
    color: #618594;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin: 0;
    display: none;
}
ul.Designers-list li:hover h4 {
    display: block;
	transition: all .4s;
}
ul.Designers-list li:hover:before {
    background-color: #ff5974;
}
ul.Designers-list img {
    margin: 10px 0px;
}

.curcle-img img {
    width: 100%;
}

.get-banner {
    text-align: center;
    background-image: url(../img/banner-c.png);
    background-size: cover;
    width: 570px !important;
    height: 570px;
    padding-top: 118px;
}
.connect-demand {
    overflow: hidden;
}
.get-banner h5 {
    color: #779aa9;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 42px;
}
.get-banner h6 {
    color: #618594;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    margin-top: 36px;
}
.connect-demand .container {
    max-width: initial;
    padding: 0;
    margin: 0;
}
.curcle-banner.slick-initialized.slick-slider {
    text-align: center;
}
.curcle-banner .slick-prev, .curcle-banner .slick-next{
	display:none !important;
}
.curcle-banner .slick-dots {
    position: absolute;
    bottom: 179px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    left: -83px;
}
.get-banner img {
    text-align: center;
    margin: 0 auto;
}

.curcle-banner .slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #054159;
    width: 50px;
    height: 3px;
    border-radius: 8px;
}
.curcle-banner .slick-dots li.slick-active button:before {
    color: #2caf97 !important;
    width: 77px !important;
    opacity: unset;
}
.curcle-banner .slick-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "";
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2caf97;
    width: 50px;
    height: 3px;
    border-radius: 8px;
}
/************hire-project**************/
.hire-project {
    position: relative;
    padding-top: 64px;
}

.hire-project:before {
    background-image: url('../img/pathin.png');
    width: 723px;
    height: 789px;
    position: absolute;
    content: "";
    right: 0;
}

.hare-left h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 80px;
    margin-bottom: 50px;
}
.hare-left p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 50px;
}

button.btn.btn-secondary.green-bttt {
    background-color: #00b296;
    padding: 12px 76px;
    border-color: #00b296;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.hare-left h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 75px;
}

.crwford-bg ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.crwford-bg ul li {
    box-shadow: 0 10px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    max-width: 251px;
}

.crwford-box h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
}

.crwford-box h3 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.crwford-box h5 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 12px;
    font-weight: 500;
    margin-top: 22px;
}
.crwford-box h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
}

.crwford-box h3 span {
    padding-right: 7px;
}

.crwford-bg ul li:nth-child(2) {
    position: absolute;
    right: 0;
    top: 94px;
}
.crwford-bg ul li:first-child {
    position: relative;
    right: -51px;
}

.crwford-bg ul li:nth-child(3) {
    position: relative;
    top: 27px;
    right: -21px;
}
.crwford-box {
    padding: 20px;
}
.hare-left {
    margin-top: 100px;
}

/*********demand-talent********/
.demand-talent {
    background-image: url(../img/banner.png);
    background-size: cover;
    padding-top: 271px;
    text-align: center;
    margin-top: 70px;
    position: relative;
    overflow: hidden;
}
.demand-talent:before {
    content: "";
    background-image: url(../img/white-line.png);
    width: 1125px;
    height: 1013px;
    position: absolute;
    right: -219px;
    top: -172px;
    opacity: 0.5;
}

.demand-talent h2 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
    margin-bottom: 15px;
}

.demand-talent p {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 188px;
}

.clinet-say ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
}
.clinet-say ul li {
    width: 50%;
    border-right: 1px solid #979797;
}

.clinet-say ul li:last-child {
    border: 0;
}

.clinet-say ul li h3 {
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.clinet-say ul li h4 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.clinet-say ul li a {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.clinet-say ul li a span {
    padding-left: 10px;
}

.clinet-say {
    width: 100%;
    padding-bottom: 88px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 0;
}


/*********testmonial-bg********/
.testmonial-title {
    text-align: center;
}

.testmonial-title h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 30px;
}

.testmonial-title ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testmonial-title ul li h3 {
    color: #606060;
    font-family: avenir-light;
    line-height: 29px;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.testmonial-title ul h4 {
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    font-family: avenir-roman;
    margin: 0;
}

.testmonial-title ul li {
    padding: 0 10px;
}

.testmonial-title ul h4 img {
    padding-left: 10px;
}

.testmonial-bg {
    margin-top: 100px;
    padding-bottom: 100px;
}
.testmonial {
    margin-top: 50px;
}

.test-box {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 30px 20px;
    margin: 10px;
    max-width: 349px;
}

.test-box span {
    font-size: 18px;
    color: #003043;
}

.test-box p {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.mc-nallay {
    display: flex;
    align-items: center;
}

.mc-nallay h3 {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

.mc-nallay h4 {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.testmonial-text {
    padding-left: 15px;
}

/**********try-today***********/
.try-today {
    background-color: #ddd;
    padding-top: 100px;
    background-image: linear-gradient(#f9f9f9, #fff);
}

h2.try-title {
    color: #072f41;
    font-family: avenir-light;
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 60px;
}

.form-tabs {
    width: 806px;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    margin: 0 auto;
    border: 0;
}
.nav-tabs .nav-link {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    padding: 22px 76px;
    border-radius: 0;
    width: 100%;
}

.form-tabs .nav-tabs .form-tabs .nav-item.show .nav-link, .form-tabs .nav-tabs .nav-link.active {
    background-color: #f9a110;
    color: #fff;
}

.clients-forms {
    padding: 68px;
}

.clients-forms p {
    margin-bottom: 65px;
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.freelance-dropdown select {
    height: 64px;
    background-color: #eeeeee;
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
}

.clients-forms .form-group label {
    color: #939393;
    font-family: avenir-light;
    font-size: 16px;
    font-weight: 300;
}

.clients-forms .form-group input {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
    padding-left: 0;
    outline: none;
    box-shadow: unset;
}

label.form-check-label {
    color: #606060;
    font-family: avenir-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}
button.btn.btn-primary.join-btt {
    background-color: #072f41;
    padding: 19px 82px;
    margin: 0 auto;
    display: block;
    margin-top: 36px;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 0;
}

.form-group.freelance-dropdown {
    margin-bottom: 40px;
}
.form-tabs .nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

/**********Justzoom-Developers**********/
.Justzoom-Developers {
    margin-top: 100px;
    margin-bottom: 100px;
}
.Justzoom-Developers ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Justzoom-Developers ul li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin: 0;
}
.Justzoom-Developers ul li h3 a {
    color: #00b296;
    text-decoration: underline;
}
h2.just-title {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}


/***********footer***********/
.footer {
    background-color: #003043;
    padding-top: 75px;
}

.footer h4 {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
a.now-btt {
    background-color: #00b296;
    display: block;
    padding: 15px 60px;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.social-link li {
    margin-right: 5px;
}

.social-link li a {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #054159;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.footer-link li a {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    text-decoration: none;
}
.footer h2 {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 24px;
    font-weight: 400;
}

ul.social-link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 97px;
}

ul.footer-link {
    padding: 0;
    margin: 0;
    list-style: none;
}

.copy-right {
    border-top: 1px solid #054159;
    padding: 30px 0;
    margin-top: 70px;
}

.copy-right p {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    margin: 0;
}

.copy-right ul li a {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-decoration: none;
}

.copy-right ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.copy-right ul li {
    margin-right: 6px;
}
/************Enterprise-banner***Enterprise-page**************/
.header {
    position: relative;
    overflow: hidden;
}

.header:before {
    content: "";
    background-image: url(../img/white-line.png);
    width: 1125px;
    height: 1013px;
    position: absolute;
    right: -230px;
    top: -158px;
    background-size: cover;
    opacity: 0.2;
}
.Enterprise-banner {
    background-image: url(../img/Enterprise-banner.png);
    background-size: cover;
}
.header .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
.header  a.nav-link.talant-btt {
    background-color: transparent;
    border: 1px solid;
}
.business-banner {
    padding-top: 331px;
    padding-bottom: 267px;
    margin-top: 80px;
}

.business-banner h2 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
    margin-bottom: 45px;
}

.business-banner p {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
}

/*********custom-bulit************/
.custom-bulit {
    background-color: #f9f9f9;
    padding: 89px 0px;
}

.custom-bulit h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    
}
.custom-bulit .row {
    align-items: center;
}

.custom-bulit p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.custom-img img {
    width: 100%;
}
/*********high-perfomance**********/
.high-perfomance {
    margin: 100px 0px;
}

.title {
    text-align: center;
}

.title h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
}

.title p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}
.teams-list {
    text-align: center;
}

.teams-list span {
    color: #e0e0e0;
    font-size: 30px;
}

.teams-list h3 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2.86px;
    text-transform: uppercase;
/* Text style for "s" */
    margin-top: 10px;
}

.teams-list p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.row.involis-project {
    margin-top: 90px;
}
.sign-button {
    text-align: center;
    padding-top: 100px;
}

.sign-button p {
    color: #606060;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
}

button.btn.btn-secondary.sign-btt {
    background-color: #072f41;
    padding: 12px 59px;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0px;
}

/********Benefits*********/
.Benefits {
    background-color: #f9f9f9;
    padding-top: 199px;
    padding-bottom: 130px;
}

.Benefits h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
}
.Benefits .row {
    align-items: center;
}
.row.benifit-2 {
    margin-top: 350px;
}
.Benefits p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.Benefits ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 20px;
}

.Benefits ul li {
    display: flex;
    align-items: center;
}

.Benefits ul li span {
    padding-right: 15px;
    color:  #606060;
}

.Benefits ul li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 47px;
    margin: 0;
}

.lock-img img {
    width: 100%;
}

/********find-expert*******/
.find-expert {
    background-color: #072f41;
    text-align: center;
    padding: 89px 0px;
}

.find-expert h2 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 34px;
}

.find-expert p {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
}

.find-expert button.btn.btn-link {
    border: 1px solid #f7f7f7;
    background-color: #072f41;
    padding: 17px 57px;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
}

.find-expert h4 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 16px;
    font-weight: 300;
    margin-top: 40px;
}

/*******blog-banner*** blog-page*******/
.blog-banner {
    text-align: center;
    padding-top: 179px;
    padding-bottom: 54px;
    margin-top: 100px;
}

.blog-banner h2 {
    color: #142e3f;
    font-family: avenir-light;
    font-size: 22px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 27px;
}

.blog-banner h3 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 30px;
}

.blog-banner h4 {
    color: #979797;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 400;
}

/******blog-content*******/
.blog-content {
    background-color: #f9f9f9;
    padding-top: 66px;
    padding-bottom: 100px;
}

.blog-content p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 50px;
}

.blog-content h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 50px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

button.btn.btn-secondary.back-button {
    width: 188px;
    height: 50px;
    border: 1px solid #072f41;
    background-color: #f9f9f9;
    color: #072f41;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 100px;
    border-radius: 0;
}

/*********blog-bg***********/
.blog-bg:before {
    content: "";
    position: absolute;
    width: 374px;
    height: 308px;
    background-image: url(../img/line2.png);
    right: 274px;
    top: -17px;
    opacity: 0.8;
}
.blog-bg h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
    margin-bottom: 50px;
}

.blog-bg p {
    color: #606060;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
}

.blog-bg {
    padding-top: 200px;
    padding-bottom: 150px;
    position: relative;
    margin-top: 100px;
}
/****************/
.blog-img img {
    width: 100%;
}

.blog-img {
    position: relative;
}

.blog-img h2 {
    position: absolute;
    bottom: -24px;
    background-color: #072f41;
    color: #ffffff;
    font-family: avenir-light;
    font-size: 22px;
    font-weight: 300;
    padding: 11px 45px;
    left: 0;
    right: 0;
    text-align: center;
    max-width: 261px;
    margin: 0 auto;
}

.blog-box h3 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 40px;
}

.blog-box a {
    color: #072f41;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.blog-box a span {
    font-size: 15px;
    color: #072f41;
}
.blog-box {
    margin-bottom: 60px;
}

.blog-listing {
    background-color: #f9f9f9;
    padding-top: 80px;
    padding-bottom: 100px;
}
.pagination-list {
    margin: 0 auto;
    border-top: 1px solid #dfdfdf;
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/***********about-page*********/
.about-banner {
    background-image: url(../img/about-banner.png);
    background-size: cover;
    background-position: center;
}
.about-tabs .nav-tabs {
    border: 0;
    flex-wrap: inherit;
}
.tabs-img img {
    width: 100%;
}

.about-tabs .nav-tabs .nav-link {
    width: 100%;
    background-color: #072f41;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2.86px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
}

.about-tabs .nav-tabs .nav-item {
    width: 33.3%;
    border-right: 2px solid #0b415a;
}

.about-tabs .nav-tabs .about-tabs .nav-item.show .about-tabs .nav-link, .about-tabs .nav-tabs .nav-link.active {
    background-color: #0b415a;
    border-color: #0b415a;
    color: #fff;
}

.about-list-taab h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    padding-top: 290px;
}

.about-list-taab p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}

.about-list-taab {
    background-color: #f9f9f9;
    padding: 74px 0px;
}
.client-logo {
    border-right: 1px solid #dfdfdf;
}

.involis-project .col-md-4:last-child .client-logo {
    border: 0;
}

/*********our-culture**********/
.our-culture {
    background-image: url('../img/culture-banner.png');
    background-size: cover;
    padding: 299px 0px;
}

.our-culture h2 {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 20px;
}

.our-culture p {
    color: #ffffff;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
}
/*********how-it-work************/
.how-it-work {
    background-color: #072f41;
}
.how-it-work:after {content: "";width: 1184px;height: 180px;background-image: url('../img/line-bottom.png');position: absolute;bottom: 20px;}

.how-it-work:before {
    background-image: unset;
}
.video-img img {
    width: 100%;
}
.how-it-work-tabs .nav-tabs .nav-link {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 2.86px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 1px;
}

.how-it-work-tabs .nav-tabs {
    border: 0;
}

.how-it-work-tabs .nav-tabs .nav-item.show .nav-link, .how-it-work-tabs .nav-tabs .nav-link.active {
    border-bottom: 5px solid #2caf97;
}

.how-it-work-tabs .nav-tabs .nav-item {
    margin-right: 30px;
}

.client-tabs {
    background-color: #f9f9f9;
    padding-top: 40px;
}
.phone-img {
    text-align: center;
}
.client-tabs h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
}

.client-tabs p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
}
.client-tabs ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.client-tabs ul li {
    display: flex;
    align-items: center;
}

.client-tabs ul li span {
    padding-right: 10px;
}

.client-tabs ul li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    margin: 0;
}
.client-tabs .row {
    padding: 84px 0px;
    align-items: center;
}
/**********contact-bg****************/
.contact-bg {
    background-color: #fafafa;
    padding: 150px 0px;
    margin-top: 78px;
}
.contact-bg h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    line-height: 85px;
    margin-bottom: 100px;
}

.Are-you-client h3 {
   color: #072f41;
	font-family: avenir-light;
	font-size: 40px;
	font-weight: 300;
	line-height: 85px;
}

.Are-you-client p {
    color: #606060;
	font-family: avenir-light;
	font-size: 30px;
	font-weight: 300;
	line-height: 42px;
}

button.btn.btn-danger.red {
    background-color: #f26678 !important;
    border: 0;
}

button.btn.btn-success.green {
    background-color: #2caf97 !important;
    border: 0;
}
.border-list .col-md-6:first-child .Are-you-client {
    border-right: 1px solid #dfdfdf;
}
.Are-you-client button {
    padding: 10px 15px;
    border-radius: 0;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 54px;
}
/******have-account********/
.have-account {
    margin: 100px 0px;
}

.have-account h2 {
    color: #606060;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}

.have-account h2 a {
    color: #003043;
    text-decoration: none;
}

/***************hiretoptelent*********/
.hiretoptelent-page {
    background-color: #f9f9f9;
    padding: 90px 0px;
}

.hiretoptelent-bg {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 90px 50px;
    margin-top: 100px;
}

.you-interest h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 65px;
}

.you-interest h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 30px;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 40px;
}

.surch-form {
    position: relative;
    text-align: center;
    max-width: 637px;
    margin: 0 auto;
}

.surch-form input {
    height: 62px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    margin: 0 auto;
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 29px;
}

.surch-form span {
    position: absolute;
    right: 22px;
    top: 20px;
    color: #606060;
}



.you-interest {
    text-align: center;
    padding-bottom: 140px;
}


.you-interest h4 {
    color: #717171;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
}
ul.Finance-listing {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Finance-listing li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
}
.Finance-listing li h3 a {
    color: #00b296;
}

/*******Payment-Succesfull*******/
.Succesfull-bg {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 90px;
    text-align: center;
}

.Payment-Succesfull {
    background-color: #f9f9f9;
    padding-top: 88px;
    padding-bottom: 120px;
    margin-top: 80px;
}

.Succesfull-bg h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 45px;
    font-weight: 400;
    margin: 30px 0px;
}
.Succesfull-bg p a {
    color: #00b296;
    padding-left: 5px;
	text-decoration:none;
}

.Succesfull-bg p {
    color: #424242;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

/**********webdesign-page************/
.webdesign-page {
    background-color: #f9f9f9;
    padding: 90px 0px;
    margin-top: 80px;
}

.design-requirement {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 39px;
    padding-bottom: 100px;
}

.sero-icon {
    display: flex;
    justify-content: space-between;
}

.sero-icon span {
    color: #606060;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 400;
}

.radio-buttons {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 97px;
}

.radio-buttons h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
}

/* CSS used here will be applied after bootstrap.css */
/* custom checkboxes */
/***** RADIO BUTTON STYLES *****/
.radio-buttons .rdio {
    position: relative;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-bottom: 0;
}
.rdio.rdio-primary.radio-inline.active {
    background-color: #fafafa;
}
.radio-buttons .rdio:last-child {
    border-bottom: 1px solid #d8d8d8;
}
.Continue-btt button.btn.btn-primary.join-btt {
    margin-right: 110px;
    border-radius: 0;
}
.radio-buttons .rdio input[type="radio"] {
  opacity: 0;
}


.radio-buttons .rdio label {
    cursor: pointer;
    color: #606060;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 400;
    border-left: 1px solid #d8d8d8;
    margin-bottom: auto;
    padding: 10px 22px;
    margin-left: 40px;
    width: 92.8%;
}
.radio-buttons .rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 19px;
    left: 19px;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 3px solid #cfcfcf;
    background: #fff;
}
.radio-buttons .rdio input[type="radio"] {
  margin: 0px;
}
.radio-buttons .rdio input[type="radio"]:disabled + label {
  color: #999;
}
.radio-buttons .rdio input[type="radio"]:disabled + label:before {
  background-color: #fbc52d;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    top: 23px;
    left: 23px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #2caf97;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.radio-buttons .rdio-default input[type="radio"]:checked + label:before {
  border-color: #fbc52d;
}

.radio-buttons .rdio-primary input[type="radio"]:checked + label:before {
    border-color: #2caf97;
}
.radio-buttons .rdio-primary input[type="radio"]:checked + label::after {
    background-color: #2caf97;
}



/************why**********/
.why-banner::before {
    display: none;
}

.why-banner {
    background-color: #072f41;
}

.why-banner .business-banner {
    padding-top: 152px;
    padding-bottom: 124px;
}
/***********why-tabs**********/
.why-tabs {
    background-color: #f9f9f9;
    overflow: hidden;
}
.Clients-post button.btn.btn-primary.join-btt {
    margin-left: 0;
    border-radius: 0;
    border-color: #072f41;
}
.why-banner .business-banner h2 {
    padding-top: 159px;
}

.Clients-post {
    padding-top: 164px;
    padding-left: 100px;
}

.Clients-post h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 39px;
}

.Clients-post ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Clients-post ul li {
    display: flex;
    margin-bottom: 47px;
}

.Clients-post ul li span {
    color:  #0eb69f;
    font-size: 22px;
}

.Clients-post-text h3 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.9px;
    text-transform: uppercase;
}

.Clients-post-text p {
    color: #606060;
    font-family: avenir-light;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.Clients-post-text {
    padding-left: 27px;
}

/**********Profile_V3********/
.profile-adrien {
    background-color: #f9f9f9;
    padding-left: 154px;
    padding-top: 60px;
    padding-right: 25px;
    padding-bottom: 63px;
}

.profile-page {
    overflow: hidden;
    margin-top: 80px;
}
.profile-img h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 17px;
}

.profile-img h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

.star--list {
    display: flex;
    align-items: center;
}

.star--list h4 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
/* Text style for "4.9" */
    margin: 0;
    padding-left: 11px;
}

.verifi-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 29px;
}

.verifi-button a {
    border-radius: 4px;
    background-color: #2caf97;
    padding: 5px 15px;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.34px;
    text-decoration: none;
}

.verifi-button h4 {
    color: #616161;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.verifi-button h4 b {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.intro-video {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.watch-now h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}

.watch-now h3 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.skill-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



.star--list h4 b {
    font-weight: 500;
    font-family: avenir-medium;
}

.skill-list ul li a {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #818181;
    font-family: "Avenir-Medium";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    padding: 7px 16px;
    display: inline-block;
    text-decoration: none;
}
.skill-list li {
    margin-right: 5px;
    margin-bottom: 5px;
}

.verifi-button a i {
    padding-right: 11px;
}

.watch-now {
    margin-left: 17px;
}

.contacts-button button.btn.btn-success {
    background-color: #2caf97;
    width: 100%;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border-radius: 0;
    border-color: #2caf97;
    padding: 15px 0;
}

.skill-list {
    margin-bottom: 32px;
}

.profile-tabs .nav-tabs .nav-link {
    color: #5b5b5b;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.9px;
    padding: 20px 24px;
    border: 0;
    text-transform: capitalize;
}

.profile-tabs .nav-tabs .nav-item.show .nav-link, .profile-tabs .nav-tabs .nav-link.active {color: #072f41 !important;border-bottom: 3px solid #072f41;}

.tabs-rate h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
}

.tabs-rate p {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    margin-bottom: 30px;
}

.Projects-rate-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.Projects-rate-list li {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    padding: 24px 46px;
    text-align: center;
    width: 23%;
}

.Projects-rate-list li h3 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
}

.Projects-rate-list li h4 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
}

.hire-box {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 29px 0px;
    justify-content: center;
    margin-top: 50px;
}

.hire-box button.btn.btn-info.her-btt {
    background-color: #072f41;
    border-color: #072f41;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.29px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 12px 30px;
}

.hire-box h2 {
    margin: 0;
    margin-right: 10px;
}

.hire-box h2 span {
    color: #2caf97;
}

.tabs-rate {
    padding-top: 34px;
}

.profile-tabs {
    padding-right: 154px;
    padding-top: 60px;
}
.Experience-lsit ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.Experience-lsit ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    padding: 12px 0px;
}

.Experience-lsit ul li h3 {
    color: #606060;
    font-family: avenir-light;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.38px;
    margin: 0;
}

.Experience-lsit {
    margin-top: 65px;
}

.portfolio-img ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 70px;
}

.portfolio-img {
    margin-top: 59px;
}

.portfolio-img ul li img {
    width: 100%;
}

.projects-text h3 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
}

.projects-text {
    margin-bottom: 54px;
}

.revew-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 17px;
    margin-bottom: 30px;
}

.revew-button h2 {
    margin: 0;
}

.revew-button button.btn.btn-link {
    border: 1px solid #072f41;
    background-color: #ffffff;
    padding: 13px 35px;
    border-radius: 0;
    color: #072f41;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.review-allira {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

.mark-dobbie-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-allira h4 {
    color: #606060;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 800;
}

.mark-dobbie-text h2 {
    margin: 0;
    font-size: 18px;
}

.review-allira p {
    font-size: 20px;
    line-height: initial;
    margin-top: 10px;
    color: #606060;
    margin: 0;
}

.mark-dobbie {
    margin-left: 28px;
    margin-top: 10px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
    width: 91%;
}
.Experience-lsit ul li:last-child {
    border: 0;
}
.reviews-5 .review-allira:last-child .mark-dobbie {
    border: 0;
}
/************Lets-Talk-page*******/
.Lets-Talk-page {
    padding-top: 178px;
    background-image: linear-gradient(#f9f9f9, #fff);
    margin-bottom: 200px;
    margin-top: 80px;
}
.Lets-Talk-page .clients-forms {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    margin: 0 auto;
    width: 806px;
}
label.form-check-label a {
    color: #606060;
    text-decoration: none;
}
.clients-forms h4 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 28px;
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    margin-bottom: 70px;
}
h2.lets-talk-title {
    color: #072f41;
    font-family: avenir-light;
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    line-height: 85px;
    padding-bottom: 74px;
}

/**************Freelancer*********/
.header.Freelancer-banner {
    background-image: url(../img/Freelancer-banner.png);
    background-size: cover;
    background-position: center;
}

/*************clien-banner*********/
.clien-banner {
    background-image: url(../img/clien-banner.png);
    background-size: cover;
    background-position: center;
}

/* profile listing page */
.profile-listing-page {
    background-color: #f9f9f9;
    padding: 60px 0;
    margin-top: 80px;
}



.iconic-heading {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.iconic-heading .heading {
    width: 100%;
    text-align: center;
}

.iconic-heading .heading h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #072f41;
    font-family: "avenir-light";
    font-size: 40px;
    font-weight: 300;
}

.iconic-heading .heading h2 span {
    padding-left: 20px;
}

.profile-list {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.profile-info ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-review-section {
    display: flex;
    align-items: center;
}

.profile-list-left {
    max-width: 208px;
    width: 25%;
}

.profile-statics h6 {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: #2caf97;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.34px;
    margin: 0;
}

.profile-statics {
    margin-top: 6px;
}

.profile-statics h6 .fa {
    padding-right: 10px;
    font-size: 14px;
}

.profile-list-right {
    margin-left: 15px;
    width: 100%;
}

.chat-user-statics ul li.profile-name h2 {
    color: #072f41;
    font-family: "avenir-medium";
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.chat-user-statics ul li.profile-name h4 {
    color: #606060;
    font-family: "avenir-light";
    font-size: 15px;
    font-weight: 300;
}
.chat-user-statics.profile-info ul li.profile-name {
    text-align: left;
    border-right: 0;
    width: 30%;
    align-items: flex-start;
}

.chat-user-statics.profile-info ul li {
    width: 14%;
}

.view-profile-btn {
    width: 184px;
    height: 50px;
    background-color: #072f41;
    color: #ffffff;
    font-family: "avenir-medium";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.profile-btn-group {
    display: flex;
    flex-direction: column;
}

.contact-btn {
    width: 184px;
    height: 50px;
    background-color: #2caf97;
    color: #ffffff;
    font-family: "avenir-medium";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.quote-btn {
    color: #2caf97;
    font-family: "avenir-roman";
    font-weight: 400;
    text-decoration: underline;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-user-statics.profile-info {
    border-bottom: 0;
    padding-bottom: 25px;
    padding-top: 0;
}

.review-area {
    margin-right: 15px;
    background-color: #f9f9f9;
    padding: 8px 15px;
    width: 100%;
}

.review-area h5 {
    color: #606060;
    font-family: "avenir-roman";
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
}

.review-area hr {
    margin: 10px 0 15px;
}

.review-area p {
    margin-bottom: 10px;
    padding-right: 50px;
    color: #606060;
    font-family: avenir-roman;
    font-size: 13px;
}

.reply-btn {
    width: 84px;
    height: 24px;
    background-color: #ededed;
    color: #072f41;
    font-family: "avenir-roman";
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.reply-btn-area {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.inbox {
    position: relative;
}

.inbox .msg-count {
    position: absolute;
    top: -7px;
    right: -12px;
    width: 22px;
    height: 22px;
    border: 2px solid #ffffff;
    background-color: #f26678;
    color: #ffffff;
    font-family: "Avenir-medium";
    font-size: 10px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: initial;
}

.review-duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* end profile listing page */
/* chatting page */

.checked {
  color: orange;
}


.incoming_msg_img {
  display: inline-block;
  width: 60px;
}

.incoming_msg_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.outgoing_msg_img {
    display: inline-block;
    width: 60px;
}

.outgoing_msg_img img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

.input_msg_write input {
    padding: 10px 30px;
    width: 100%;
    height: 85px;
    color: #a6a6a6;
    font-family: 'avenir-light';
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    border: 0;
    outline: none;
}
.type_msg {
position: relative;
    padding: 0 20px;
    height: 87px;
    box-shadow: 0 -3px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
}


.incoming_msg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
}

.outgoing_msg {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 0;
}

.outgoing_msg .sent_msg {
    width: 55%;
    text-align: right;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 15px 20px;
}

.received_withd_msg {
    width: 55%;
    text-align: left;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    padding: 15px 20px;
}

.sent_msg p, .received_withd_msg p {
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    font-family: avenir-roman;
    margin-bottom: 10px;
}

.chat-date {
    text-align: center;
    padding: 25px 0;
    color: #a0a0a0;
    font-size: 16px;
    font-weight: 400;
    font-family: avenir-roman;
}

.chat-time-detail p {
    color: #a0a0a0;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1;
}

.chat-time-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chatbox {
    width: 100%;
    position: absolute;
    background-color: #f9f9f9;
    bottom: 0;
}

.messaging {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.inbox_msg{
    width: 100%;
}

.mesgs {
    height: calc(100vh - 180px);
    overflow-y: scroll;
    padding: 20px 30px;
}

.chatting-page {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 89px);
    border-top: 1px solid #e3e3e3;
}



.chat-user-details {
    display: flex;
    align-items: flex-end;
        padding: 25px 0;
}

.chat-user-img img {
    width: 100%;
}

.chat-user-profile {
    padding-left: 15px;
    width: 67%;
}

.chat-user-profile h2 {
    color: #072f41;
    font-family: 'avenir-medium';
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 0.5px;
    display: flex;
    align-items: center;
}

.chat-user-profile h2 span {
    width: 102px;
    height: 32px;
    border-radius: 4px;
    background-color: #2caf97;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.chat-user-profile h2 span .fa {
    padding-right: 5px;
    font-size: 13px;
}


#sidebar {
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    box-shadow: 0 12px 20px rgba(0, 128, 255, 0.14);
    z-index: 99;
}

.sidebar-inner {
    width: 100%;
    background-color: #ffffff;
    z-index: 99;
    padding: 20px 20px;
    height: 91vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar.active {
    margin-left: -35%;
}


#content12 {
    width: calc(100% - 35%);
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content12.active {
    width: 100%;
}
.sidebar-btn {
    position: absolute;
    left: 100%;
    top: 5px;
    box-shadow: 0 12px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
}

.sidebar-btn .btn-info {
    background: transparent;
    color: #a5a5a5;
    font-size: 25px;
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: none;
    box-shadow: unset;
}
.chat-user-profile h4 {
    color: #606060;
    font-family: 'avenir-light';
        font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
}

h4.active-time {
    margin-top: 20px;
}

h4.active-time {
    margin-top: 20px;
}

.user-hired-btn {
    width: 152px;
    height: 50px;
    background-color: #072f41;
    color: #ffffff;
    font-family: 'avenir-medium';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hired-profile-btn {
    display: flex;
    align-items: center;
}

.full-profile-btn {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin-left: 30px;
}

.chat-user-statics ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0;
}


.chat-user-statics ul li {
    padding: 0 5px;
    border-right: 1px solid #cecece;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
}

.chat-user-statics ul li:last-child {
    border-right: 0;
}

.raiting {
    margin-bottom: 15px;
}

.chat-user-statics ul li p {
    color: #606060;
    font-family: 'avenir-roman';
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
}

.chat-user-statics ul li p span {
    font-family: 'avenir-medium';
    font-weight: 500;
}

.chat-user-statics ul li h3 {
    color: #072f41;
    font-family: 'avenir-medium';
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.5px;
    margin-bottom: 7px;
    line-height: 1;
}

.chat-profile h3.title {
    text-align: left;
    color: #072f41;
    font-family: 'avenir-medium';
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}
.chat-user-gallery ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.chat-user-gallery ul li img {
    width: 100%;
}

.chat-user-gallery ul li {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 16%;
}

.about-chat-user p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
}

.about-chat-user, .chat-user-gallery, .chat-user-statics {
    padding: 15px 0;
    border-bottom: 1px solid #cecece;
}

.chat-user-review {
    padding: 15px 0;
}

.user-review-details {
    display: flex;
}

.review-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.review-details {
    padding-left: 15px;
}

.review-details h4 {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.review-details .raiting {
    margin-bottom: 10px;
}

.review-details p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
}

.input_msg_write {
    display: flex;
    align-items: center;
}

.msg_send_btn {
    width: 129px;
    height: 49px;
    background-color: #2caf97;
    color: #ffffff;
    font-family: 'avenir-medium';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border: 0;
    outline: 0;
}

.msg_send_btn .fa {
    padding-right: 10px;
}

.chat-user-img {
    position: relative;
    width: 33%;
}

.chat-user-img .brand-logo {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.chat-user-img .brand-logo img {
    width: auto;
    height: auto;
    max-width: 100px;
    max-height: 15px;
}

.user-hired-btn:hover {
    color: #fff;
    text-decoration: underline;
}

.profile-list-left .chat-user-img {
    width: 100%;
}
/* end chatting page */

/************modal********/
.login-form h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.login-form h3 {
    text-align: center;
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 42px;
}

.login-form-fr .form-group label {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
}

.login-form-fr .form-group input {
    height: 50px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
}

.login-form-fr p {
    text-align: center;
    margin-top: 30px;
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
}
.form-forget {
    text-align: right;
    margin-bottom: 22px;
}

.form-forget a {color: #8a8a8a;font-family: avenir-roman;font-size: 16px;font-weight: 400;}


.login-form-button button.btn.btn-primary {
    border-color: #072f41;
    background-color: #072f41;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    width: 100%;
    border-radius: 0;
    padding: 12px 0;
}

.login-form-button h4 {
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
/* Text style for "Register h" */
    text-align: center;
    margin-top: 32px;
}

.login-form-button h4 a {
    color: #072f41;
    text-decoration: none;
}
.login-modal .modal-header {
    padding: 0;
    border: 0;
    padding-right: 20px;
    padding-top: 15px;
}

.login-modal .modal-dialog {
    max-width: 420px;
    border-radius: 0;
}
.login-checkbox {
    margin-bottom: 26px;
}

.login-checkbox label.custom-control-label {
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
}
/********************/
.star-living h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.star-living p {
    color: #606060;
    font-family: avenir-light;
    font-size: 20px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
}

.freelance-button {
    display: flex;
    justify-content: space-between;
}

.freelance-button a {
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    padding: 21px 0;
    width: 48%;
}
.star-living {
    padding: 0 20px;
}
.freelance-modal .modal-header {
    padding: 0;
    border: 0;
    padding: 10px 20px;
}

.creative-account {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}

.creative-account button {
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 17px 0px;
    border-radius: 0;
    margin-bottom: 11px;
}

.freelance-modal .modal-dialog {
    max-width: 656px;
}

button.btn.btn-primary.create-blue {
    background-color: #065cbf;
    border-color: #065cbf;
}

button.btn.btn-warning.create-orange {
    background-color: #f86a13;
    border-color: #f86a13;
}
a.want-green {
    border: 1px solid #00b296;
    background-color: #ffffff;
    color: #00b296;
}

a.want-blue {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #072f41;
    background-color: #072f41;
    color: #ffffff;
}
/* Hire Adrien page */
.hire-adrien-page {
    background-color: #f9f9f9;
    padding: 90px 0;
    margin-top: 80px;
}

.hire-adrien-section {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px 50px;
}

.hire-adrien-section {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px 50px;
}

.breadcrumb-nav {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.breadcrumb-nav .title h2 {
    color: #072f41;
    font-family: "avenir-light";
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
    margin-bottom: 10px;
}

.breadcrumb-nav .sub-heading ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumb-nav .sub-heading ul li, .breadcrumb-nav .sub-heading ul li a.active {
    color: #979797;
    font-family: "avenir-roman";
    font-size: 16px;
    font-weight: 400;
    padding: 0 3px;
}

.breadcrumb-nav .sub-heading ul li a {
    font-family: "avenir-roman";
    padding: 0 3px;
    color: #072f41;
}

.hire-adrien-section .hr {
    margin-bottom: 30px;
    height: 1px;
    overflow: hidden;
    background: #d8d8d8;
}

.hire-adrien-form .form-group.desc-textarea {
    position: relative;
}

.hire-adrien-form .input-file {
    position: absolute;
    right: -5px;
    bottom: 0;
}

.hire-adrien-form .input-file input[type=file] {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    width: 100px;
    height: 28px;
}

.hire-adrien-form .upload-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    width: 100px;
    height: 28px;
    background-color: #7b7b7b;
    color: #ffffff;
    font-family: "avenir-roman";
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
}

.hire-adrien-form button.btn.btn-continue {
    width: 150px;
    height: 50px;
    background-color: #142e3f;
    color: #ffffff;
    font-family: "avenir-medium";
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
}

.hire-adrien-form label {
    color: #072f41;
    font-family: "avenir-medium";
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.hire-adrien-form .form-group {
    margin-bottom: 30px;
}

.hire-adrien-form .form-control {
    height: 50px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: "avenir-roman";
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
}
.hire-adrien-form textarea.form-control {
    color: #8a8a8a;
    height: 137px;
    resize: none;
}

.hire-adrien-form .italic-input {
    font-style: italic;
    font-weight: 300;
    font-family: "avenir-light";
}

.hire-adrien-form .commitment-radio {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.hire-adrien-form .commitment-radio .custom-radio {
    width: 30%;
}

.hire-adrien-form .commitment-radio label {
    color: #606060;
    font-family: "avenir-medium";
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.hire-adrien-form .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2caf97;
    background-color: #2caf97;
}

.hire-adrien-form label.form-check-label a {
    color: #2caf97;
}

.hire-adrien-form label.form-check-label {
    color: #606060;
    font-family: avenir-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.hire-profile-section {
    margin-left: 100px;
}

.hire-profile-card {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    padding: 20px 0px;
}

.hire-adrien-form {
    border-top: 1px solid #d8d8d8;
    padding: 45px 0;
}

.hire-profile .hire-user-img{
    position: relative;
}

.hire-profile .hire-user-img img {
    width: 114px;
    height: 120px;
}

.hire-profile .brand-logo img {
    width: 68px;
    height: auto;
}

.hire-profile .brand-logo {
    left: 5px;
    bottom: 5px;
    position: absolute;
}

.hire-profile .raiting {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hire-profile .raiting p {
    color: #606060;
    font-family: "avenir-light";
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0;
    padding-left: 5px;
    line-height: initial;
}

.hire-profile .raiting p span {
    font-family: "avenir-medium";
    font-weight: 500;
}

.hire-profile h4 {
    color: #606060;
    font-family: "avenir-roman";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.hire-profile h2 {
    font-family: 'avenir-medium';
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    margin-bottom: 7px;
    color: #072f41;
}

.hire-profile h6 {
    width: 93px;
    height: 32px;
    border-radius: 0;
    background-color: #2caf97;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.hire-profile h6 .fa {
    padding-right: 4px;
    font-size: 12px;
}

.hire-profile {
    display: flex;
    align-items: flex-end;
    padding: 0 15px;
    margin-bottom: 10px;
}

.hire-user-profile {
    margin-left: 20px;
}

.hire-locate {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location {
    color: #606060;
    font-family: "Avenir-roman";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 80%;
}

.hired-price {
    color: #072f41;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: "Avenir-medium";
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.hired-price span {
    color: #616161;
    font-size: 18px;
    font-weight: 400;
    font-family: "Avenir-roman";
}

.seperate-line {
    height: 1px;
    width: 100%;
    background: #d8d8d8;
}

.hire-description {
    padding: 15px 15px;
    border-top: 1px solid #d8d8d8;
}

.hire-description p {
    color: #818181;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 20px;
    font-family: "Avenir-medium";
}

.hired-totl-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 15px;
    border-bottom: 2px solid #d8d8d8;
}

.hired-totl-price h3 {
    color: #000c18;
    font-family: "avenir-roman";
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}

select {
    cursor: pointer;
}

/* end Hire Adrien page */

/* payment page */
.payment-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.payment-heading h3 {
    color: #072f41;
    font-size: 24px;
    font-weight: 400;
    font-family: "Avenir-roman";
    margin-bottom: 10px;
}

.payment-notes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 15px 0 35px;
}

.payment-notes .pay-msg {
    width: 80%;
}

.payment-notes .pay-img {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.payment-notes .pay-img img {
    max-width: 100%;
}

.payment-notes h6 {
    color: #8a8a8a;
    font-size: 18px;
    font-weight: 400;
    font-family: "Avenir-roman";
    margin-bottom: 5px;
}

.pay-form .form-group {
    margin-bottom: 15px;
}

.pay-form .form-group .form-control {
    color: #8a8a8a;
}
/* payment page */
/*************Client-Dashboard*********/
.client-page {
    background-color: #f9f9f9;
    padding-top: 35px;
    padding-bottom: 100px;
    margin-top: 110px;
}

.deshbord-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.deshbord-title h2 {
    color: #142e3f;
    font-family: avenir-light;
    font-size: 36px;
    font-weight: 300;
}

.deshbord-title h2 span {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
}

.deshbord-title button.btn.btn-link {
    border: 1px solid #072f41;
    background-color: #f9f9f9;
    border-radius: 0;
    color: #072f41;
    font-family: Avenir-Medium;
    padding: 11px 17px;
    text-decoration: none;
}


ul.deshbord-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul.deshbord-list li {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 24%;
}

.desh-text h4 {
    color: #7b7b7b;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.desh-text h5 {color: #142e3f;font-family: avenir-roman;font-size: 30px;font-weight: 400;text-align: right;}

.hire-web {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 30px 25px;
    position: relative;
}
.wirter-hire .hire-profile {
    padding: 0;
}

.hire-web h6 {
    color: #142e3f;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.hire-web h3 {
    color: #7b7b7b;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}

.view-contract {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button.btn.btn-link.bcontact-button {
    padding: 8px 25px;
    border-radius: 0;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

button.btn.btn-link.bcontact-button.con-green {
    background-color: #2caf97;
}
.view-img-con a {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
}
button.btn.btn-link.bcontact-button.Hire-blu {
    background-color: #142e3f;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 41px;
}
.wirter-hire {
    background-color: #f9f9f9;
    padding: 23px 16px;
}

.wirter-hire p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}
.view-img-con {
    padding-left: 44px;
}
.view-img-con span {
    padding-right: 10px;
}

.hire-img {
    position: absolute;
    background-image: url('../img/hire-img.png');
    background-size: cover;
    width: 143px;
    height: 87px;
    top: 0px;
    left: 0px;
}

.hire-img h5 {
    transform: rotate(-35deg);
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 8px;
    padding-left: 22px;
}
.mon-profilr span {
    border-radius: 4px;
    background-color: #2caf97;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 5px 18px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.26px;
    font-family: sans-serif;
}

.mon-profilr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mon-profilr h2 {
    margin: 0;
    text-transform: capitalize;
}

.mon-profilr span i {
    padding-right: 4px;
}
.red-bg-1 {
    position: relative;
    left: 0;
}

.red-bg-1 span {
    width: 21px;
    height: 21px;
    background-color: #f26678;
    border-radius: 50px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    position: relative;
    top: -14px;
    padding-top: 3px;
}
.table th h4 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.27px;
    margin: 0;
}

.table-profile {
    display: flex;
    align-items: center;
}



.post-text h3 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.27px;
    margin: 0;
}
.table td p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}


.dropdown.dot-button button#dropdownMenuButton {
    border: 0;
    background-color: transparent;
    outline: none;
    box-shadow: unset;
}

button.btn.btn-success.table-done {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 0.27px;
    background-color: #2caf97;
    padding: 2px 20px;
    border-color: #2caf97;
    border-radius: 0;
}
.post-text p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.post-text {
    margin-left: 10px;
}.post-table .table {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    border: 0;
}

.post-table {
    margin-top: 97px;
}
h2.post-title {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.33px;
    margin-bottom: 20px;
}

/************View-contract*******/
.about-info-t {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.about-info-t h3 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 31px;
    margin: 0;
}

.about-info-t h2 {
    margin: 0;
}

.view-about {
    margin-top: 25px;
}

span.work-done {
    border-radius: 4px;
    background-color: #2caf97;
    color: #ffffff;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.26px;
    padding: 5px 14px;
    display: inline-block;
    margin-bottom: 11px;
}

span.work-done i {
    margin-right: 5px;
    font-size: 10px;
}
.downlod-pdf {
    text-align: right;
    margin-bottom: 40px;
}
.hire-box h2 i {
    color: #d7d7d7;
    margin-right: 10px;
}
.profile-tabs.view-tabs {
    padding-bottom: 50px;
    padding-left: 20px;
}
.downlod-pdf a {
    text-decoration: none;
    text-align: right;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #606060;
    font-family: avenir-light;
    font-size: 16px;
    font-weight: 300;
    line-height: 31px;
    padding: 10px 28px;
    display: inline-block;
}

.downlod-pdf a span {
    padding-right: 5px;
}
button.btn.btn-success.close-blue {
    background-color: #072f41;
    border-color: #072f41;
    margin-bottom: 10px;
}
.deshbord-footer p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: 9px;
}

.deshbord-footer ul.social-link {
    margin: 0;
    justify-content: flex-end;
}

.deshbord-footer {
    box-shadow: 0 0 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 25px;
}

/*************Freelancer-Payment**********/
.Total-Earning {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px;
}
.left-aero {
    padding-bottom: 50px;
}
.profile-tabs.view-tabs.view-wwww {
    padding-top: 30px;
}

.Total-Earning h4 {
    color: #616161;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 17px;
}

.Total-Earning h5 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 0.83px;
}

ul.week-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.week-list h5 {
    font-size: 24px;
}

.week-list h4 {
    margin-bottom: 7px;
}

.week-list li {
    border-right: 1px solid #e6e6e6;
    width: 26%;
}

.week-list li:last-child {
    border: 0;
}

.accout-title-n {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 5px;
}

.accout-title-n h2 {
    color: #616161;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
}

ul.account-member {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.account-member li {
    display: flex;
    align-items: center;
}

ul.account-member li h2 {
    color: #777777;
    font-family: avenir-medium;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.29px;
    line-height: 29px;
    width: 42%;
    margin: 0;
}
.deshbord-title h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
}

ul.account-member li h3 {
    color: #000000;
    font-family: avenir-medium;
    letter-spacing: 0.31px;
    font-size: 13px;
    margin: 0;
}
.Total-Earning.two {
    display: flex;
    justify-content: space-between;
}

.account-info {
    background-color: #f9f9f9;
    padding: 12px;
    width: 55%;
}
.total-in button {
    margin-top: 30px;
}
/********Freelancer-Dashboard**********/
h2.opeing-title {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.33px;
    margin-bottom: 40px;
}
button.btn.btn-warning.Progress-yulo {
    border-radius: 2px;
    background-color: #eba53c;
    border-color: #eba53c;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
}
.rating-star {
    display: flex;
    text-align: center;
    justify-content: center;
}

span.jasim-bg {
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 5px;
}
.james-web h3 {
    margin-bottom: 5px;
}
button.btn.btn-link.bcontact-button.no-bg {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #9b9b9b;
}

.Cancel-btt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23px;
}

.Cancel-btt button {
    margin: 0px !important;
    margin-right: 5px !important;
}
/********Freelancer-Contract*********/
.deshbord-list.freelance-openig li {
    width: 32%;
}
.post-table.Freelancer-table {
    margin-top: 29px;
}
/*********Client-side-View-contract*************/
.contact-detals-view {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px;
}

.contact-detals-view ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-detals-view ul h2 {
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
/* Text style for "Email" */
    color: #606060;
    margin: 0;
    width: 100px;
}

.contact-detals-view ul h3 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
/* Text style for "Email" */
    margin: 0;
}

.contact-detals-view ul li {
    display: flex;
    align-items: center;
}
.contact-detals-view h5 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
}

/**************progreesbar***********/


.circle {
    width: 200px;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}
.circle strong {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #0f0f0f;
    font-family: avenir-medium;
    font-size: 34px;
    font-weight: 500;
    line-height: 27px;
}
.edit-profile-page {
    margin-top: 100px;
    background-color: #f9f9f9;
    padding-top: 40px;
    padding-bottom: 120px;
}

/****************progreesbar-End********/

/***********edit-profile*******/
.image-upload > input
{
    display: none;
}

.image-upload img
{
   
}
.profile-information {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 50px;
}

.edit-title h2 {
    color: #072f41;
    font-family: avenir-light;
    font-size: 52px;
    font-weight: 300;
    line-height: 62px;
}

.edit-title h3 {
    color: #424242;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.profile-form .form-group {}

.profile-form .form-group label {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
}

.profile-form .form-group input {
    height: 50px;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
}

.profile-form .form-group textarea {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0;
    resize: none;
    height: 158px;
}

.hourly-form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.hourly-form .form-group {
    margin: 0;
}

.edit-title {
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 40px;
}
label.qustion-icon {
    display: flex;
    justify-content: space-between;
}

.qustion-icon span {
    color: #9e9e9e;
}
.profile-lavle {
    background-color: #f9f9f9;
    padding: 25px;
}

.completion-bg {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    padding: 30px;
}

.completion-bg h2 {
    color: #072f41;
    font-family: "Avenir Medium";
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.completion-bg h3 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.completion-bg ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.completion-bg ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    padding: 6px 0px;
}

.completion-bg ul li h4 {
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
}

.completion-bg ul li:last-child {
    border: 0;
    padding-bottom: 0;
}

.circle strong span {
    color: #000000;
    font-family: avenir-medium;
    font-size: 20px;
    font-weight: 500;
}

.add-exprens a {
    color: #f26678;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
	    text-decoration: none;
}
.add-exprens {
    margin-top: 10px;
    margin-bottom: 30px;
}
.add-exprens span {
    color: #f26678;
}

.profile-form h4 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}


.image-upload h2 {
    color: #8a8a8a;
    font-family: Avenir;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 31px 0;
    border: 1px dashed #bebebe;
}

.image-upload h2 span {
    color: #f26678;
}

.image-upload label {
    margin: 0;
    width: 100%;
}

.profile-form .form-group select {
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    height: 50px;
    border-radius: 0;
    color: #8a8a8a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
}
.hourlay-input {
    display: flex;
    align-items: center;
}
.profile-photo .image-upload {
    display: flex;
    align-items: center;
}

.profile-photo .image-upload span {
    border: 1px solid #003043;
    background-color: #ffffff;
    color: #072f41;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 13px 30px;
    display: inline-block;
}

.profile-photo .image-upload label {
    margin-left: 30px;
}

.profile-photo {
    margin-bottom: 31px;
}

.profile-photo h5 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.form-cncle-button button {
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 14px 50px;
    border-radius: 0;
}

button.btn.btn-dark.cancle-border {
    border: 1px solid #003043;
    background-color: #ffffff;
    color: #003043;
}

button.btn.btn-dark.save-blue {
    border-color: #003043;
    background-color: #003043;
}

.form-cncle-button {
    margin-top: 30px;
}

/************Setting*********/
.setting-page {
    background-color: #f9f9f9;
    margin-top: 107px;
    padding-top: 35px;
    padding-bottom: 100px;
}
.gernal-tabs li {
    width: 30%;
}
.edit-icon {
    float: right;
}

.seting-tabs .nav-tabs {
    background-color: #f9f9f9;
    padding-top: 20px;
    padding-left: 69px;
}

.seting-tabs .nav-tabs .nav-item {
    margin-right: 43px;
}

.seting-tabs .nav-tabs .nav-item .nav-link {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    border: 0;
    padding: 0;
    padding-bottom: 15px;
}

.seting-tabs .nav-tabs .nav-item.show .nav-link, .seting-tabs .nav-tabs .nav-link.active {
    border-bottom: 3px solid #2caf97 !important;
    background-color: transparent;
}
.seting-tabs {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding-bottom: 60px;
    padding-top: 20px;
}

ul.gernal-tabs {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 64px;
    border-bottom: 1px solid #e6e6e6;
}

.gernal-tabs li h2 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.27px;
    margin: 0;
}
.gernal-tabs li h3 span {
    color: #c2c2c2;
    padding-right: 10px;
}



.gernal-tabs li h3 {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.edit-icon span {
    padding-right: 10px;
    color: #ddd;
}

.edit-icon a {
    color: #2caf97 !important;
}


/**************login***********/
.login-page {
    background-image: url(../img/Enterprise-banner.png);
    padding-top: 50px;
    padding-bottom: 100px;
}
.login-form-fr {
    width: 621px;
    margin: 50px auto;
    display: block;
    padding: 50px;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
}
.forget-form {
    display: flex;
    justify-content: space-between;
}
.login-form-fr h1 {
    color: #000;
    font-size: 40px;
    font-weight: 500;
    font-family: avenir-roman;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}
.for-rember {
    display: flex;
    justify-content: space-between;
}
.login-form label {
    color: #323232;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.login-form input {
    color: #323232;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    height: 54px;
    border-radius: 6px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
button.btn.btn-default.loginbt {
    margin: 0 auto;
    display: block;
    background-color: #003043;
    color: #fff;
    font-family: avenir-roman;
    font-weight: 400;
    margin-top: 40px;
    border-radius: 0;
    padding: 15px 110px;
    text-transform: uppercase;
}

/******************/
.sheman-box {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px;
}
.sheman-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.admin-bg {
    background-color: #f9f9f9;
    padding: 15px 27px;
    margin-bottom: 15px;
}
.admin-bg p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}
.resaled-btt button {
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 20px;
}
button.btn.btn-success.blue {
    border-color: #072f41;
    background-color: #072f41;
}
.sheman-hr h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
button.btn.btn-success.blue {
    border-color: #072f41;
    background-color: #072f41;
}

button.btn.btn-success.green {
    border-color: #2caf97;
    background-color: #2caf97;
}
p.help-block {
    color: red;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0;
}
