/*
    DEMO STYLE
*/

@font-face {
  font-family: 'avenir-light';
  src: url('../fonts/avenir-light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-light.woff') format('woff'),
  url('../fonts/avenir-light.ttf')  format('truetype'), 
  url('../fonts/avenir-light.svg#avenir-light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-medium';
  src: url('../fonts/avenir-medium.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-medium.woff') format('woff'), 
  url('../fonts/avenir-medium.ttf')  format('truetype'), 
  url('../fonts/avenir-medium.svg#avenir-medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-roman';
  src: url('../fonts/avenir-roman.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/avenir-roman.otf')  format('opentype'),
	     url('../fonts/avenir-roman.woff') format('woff'), 
		 url('../fonts/avenir-roman.ttf')  format('truetype'),
		 url('../fonts/avenir-roman.svg#avenir-roman') format('svg');
  font-weight: normal;
  font-style: normal;
}



@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}



a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

img.white-icon {
    display: none;
}


#sidebar li.active a span img.white-icon {
    display: inline-block;
}
#sidebar li.active a span img.gray-icon {
    display: none;
}
#sidebar ul.components .list-unstyled li.active a {
    background-color: transparent;
}
.navbar {
    padding: 15px 10px;
    border: none;
    border-radius: 0;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
li.nav-item.bel {
    padding-right: 34px;
    position: relative;
    margin-right: 20px;
}
li.nav-item.bel:before {
    width: 1px;
    height: 36px;
    border: 1px solid #e3e3e3;
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
}
li.nav-item.bel a i {
    font-size: 24px;
    color: #cacaca;
    margin-top: 11px;
}
span.bell-bg {
    width: 15px;
    height: 15px;
    background-color: #f26678;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 11px;
    font-weight: 800;
    line-height: 16px;
    justify-content: center;
    margin: 13px 20px;
}

.right-nav button#dropdownMenuButton {
    display: flex;
    align-items: center;
    padding: 0;
    outline: none;
    box-shadow: unset;
    color: #4a4a4a;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
}
.right-nav button#dropdownMenuButton a.nav-link {
    color: #4a4a4a;
    font-family: avenir-roman;
    font-weight: 800;
}
.right-nav button#dropdownMenuButton img {
    padding-right: 6px;
}
.aside {
    display: flex;
    width: 100%;
    align-items: stretch;
}
.right-nav .dropdown-menu.show {
    width: 253px;
    box-shadow: 0 14px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    left: -98px;
    padding: 15px;
}
ul.nav-dropdown {
    padding: 0;
    margin: 0;
    list-style: none;
}
#pageSubmenu {
    padding-left: 31px;
    margin-top: 16px;
}

#pageSubmenu li a {
    line-height: 0;
}
#pageSubmenu li a:hover {
    background-color: transparent !important;
}
.nav-dropdown li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
}
.nav-dropdown a {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 13px;
    text-decoration: none;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #142e3f;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a span {
    margin-right: 10px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #8596aa;
    font-family: avenir-roman;
    font-size: 17px;
    font-weight: 400;
    display: block;
    padding: 15px 10px;
}
.navbar-light .navbar-brand img {
    width: 87%;
}
#sidebar ul li a:hover {
    color: #fff;
    background-color: #0f2432;
}


#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background-color: #0f2432;
}


a[data-toggle="collapse"] {
    position: relative;
}

#sidebar ul.components .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
} */

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*************Client-Dashboard*********/
.client-page {
    background-color: #f9f9f9;
    padding-top: 35px;
    padding-bottom: 100px;
}

.deshbord-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.deshbord-title h2 {
    color: #142e3f;
    font-family: avenir-light;
    font-size: 36px;
    font-weight: 300;
}

.deshbord-title h2 span {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
}

.deshbord-title button.btn.btn-link {
    border: 1px solid #072f41;
    background-color: #f9f9f9;
    border-radius: 0;
    color: #072f41;
    font-family: Avenir-Medium;
    padding: 11px 17px;
    text-decoration: none;
}


ul.deshbord-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul.deshbord-list li {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    width: 19%;
}

.desh-text h4 {
    color: #7b7b7b;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.desh-text h5 {color: #142e3f;font-family: avenir-roman;font-size: 30px;font-weight: 400;text-align: right;}

h2.post-title {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.33px;
    margin-bottom: 20px;
}
.post-table .table {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    border: 0;
}
.table th h4 {
    color: #072f41;
    font-family: avenir-medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.27px;
    margin: 0;
}
.table td p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
.table-profile {
    display: flex;
    align-items: center;
}
.post-text {
    margin-left: 10px;
}
.post-text h3 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.27px;
    margin: 0;
}
.post-text p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
    vertical-align: middle;
    text-align: center;
}
.dtable-done-btt button {
    margin-right: 5px;
}
.dtable-done-btt button {
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
/* Text style for "e" */
    letter-spacing: 0.79px;
    padding: 7px 19px;
    border-radius: 0;
}
button.btn.btn-success.green {
    background-color: #2caf97;
    border-color: #2caf97;
}

button.btn.btn-success.blue {
    background-color: #142e3f;
    border-color: #142e3f;
}



/**********footer*******/
.deshbord-footer {
    box-shadow: 0 0 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 25px;
}
.deshbord-footer p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: 9px;
}
ul.social-link {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-top: 97px;
}
.deshbord-footer ul.social-link {
    margin: 0;
    justify-content: flex-end;
}
.social-link li {
    margin-right: 5px;
}
.social-link li a {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background-color: #054159;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.sheman-box {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding: 20px;
}

.sheman-profile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.admin-bg {
    background-color: #f9f9f9;
    padding: 15px 27px;
    margin-bottom: 15px;
}

.admin-bg p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}

button.btn.btn-success.resaled-btt {
    background-color: #2caf97;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0;
    border-color: #2caf97;
    padding: 10px 44px;
}

.sheman-hr h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.sheman-hr {
    display: flex;
    align-items: center;
}
.dot-menu button#dropdownMenuButton {
    background-color: transparent;
    border: 0;
    color: #000;
    outline: none;
    box-shadow: unset;
}

.dot-menu span {
    color: #d8d8d8;
}

.dot-menu.show .dropdown-menu {
    max-width: 200px;
    transform: unset !important;
    right: 43px !important;
    left: unset !important;
    top: 51px !important;
}

/*********Admin-Payment-Management********/
ul.deshbord-list.admin-Management li {
    width: 24%;
}
.status-button button {
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: 400;
}
.menu-bt-tb {
    background-color: transparent;
    border: 0;
}

.menu-bt-tb:hover {
    background-color: transparent;
    outline: none;
    box-shadow: unset;
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: unset;
}

.payments-reqest.Management-bottom {
    padding-bottom: 40px;
}
.historay-box {
    display: flex;
    align-items: center;
}

.historay-box h4 {
    margin: 0;
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
}

.historay-box button {
    margin-left: 10px;
}

/************Admin-Approved-Freelancer**********/
.compeny-list {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    width: 100%;
    justify-content: space-between;
    padding: 0px 23px;
    margin-bottom: 38px;
}
.compeny-list ul li:last-child {
    margin: 0;
}
.compeny-list ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 22px 0px;
    border-right: 1px solid #e6ecef;
    padding-right: 20px;
    width: 50%;
}

.date-picker {
    display: flex;
    align-items: center;
}

.all-freelancer {
    display: flex;
    align-items: center;
    padding: 22px 0px;
}

.last-button button {
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 29px;
    border-radius: 0;
}

.clear-box input {
    width: 140px !important;
    color: #a0a0a0;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
}

.clear-box .input-group {
    flex-wrap: unset;
    margin-right: 5px;
}

.all-freelancer .form-group {
    margin: 0;
    margin-left: 10px;
}

.all-freelancer .form-group select {
    height: 45px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a0a0a0;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
}

button.btn.btn-secondary.all-free {
    padding: 11px 40px;
    background-color: #142e3f;
    border-color: #142e3f;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.compeny-list li h4 {
    color: #142e3f;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    display: flex;
    align-items: center;
}

button.btn.btn-secondary.last-week {
    border-color: #142e3f;
    background-color: #142e3f;
}

button.btn.btn-secondary.last-month {
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a0a0a0;
}

.compeny-list ul li {
    margin-right: 28px;
}

.clear-box {
    margin-right: 5px;
}

.form-surch input {
    height: 45px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    width: 475px;
    color: #a0a0a0;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
}

.form-surch {
    margin-left: 10px;
    position: relative;
}
.form-surch  span {
    position: absolute;
    top: 10px;
    right: 18px;
    color: #b0b0b0;
}

.gj-datepicker-bootstrap [role=right-icon] button {
    height: 45px;
}

.compeny-list li h4 span {
    padding-right: 5px;
}

.compeny-list ul li h3 {
    color: #484848;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 800;
}

/*******************/
.table td .raiting span {
    color: #eba53c;
    font-size: 13px;
}
.pagination-table .pagination .page-link {
    color: #506273;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin: 0 5px;
    width: 41px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-item.active .page-link {
    border-color: #142e3f;
    background-color: #142e3f;
    color: #fff;
}
.pagination-table .pagination {
    justify-content: center;
    margin-top: 50px;
}
.pagination-table .pagination .page-link:hover {
    border-color: #142e3f;
    background-color: #142e3f;
    color: #fff;
}

.pagination-table .pagination .page-item:first-child .page-link {
    background-color: transparent;
    border: 0;
}

.pagination-table .pagination .page-item:last-child .page-link {
    background-color: transparent;
    border: 0;
}

.table .dropdown-menu.show {
    left: unset !important;
    transform: unset !important;
    right: 15px;
    top: 28px !important;
}

/************Category-Management***********/
.cata-setaps {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
    padding-top: 24px;
    padding-left: 27px;
    padding-bottom: 50px;
    padding-right: 27px;
}
.back-button button {
    width: 213px;
    height: 58px;
    border-radius: 0;
    font-family: avenir-medium;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.back-button {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    padding: 0 40px;
}

button.btn.btn-light.light-back {background-color: #e7e7e7;}

button.btn.btn-light.light-back span {
    padding-right: 10px;
}

button.btn.btn-dark.dark-next {
    border-color: #072f41;
    background-color: #072f41;
}

button.btn.btn-dark.dark-next span {
    padding-left: 10px;
}
.arrow-steps .step {
    font-size: 14px;
    text-align: center;
    color: #666;
    cursor: default;
    margin: 0 3px;
    padding: 8px 0px 7px 5px;
    min-width: 80px;
    float: left;
    position: relative;
    background-color: #e7e7e7;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.2s ease;
}
.question-input input {
    height: 57px;
    border-radius: 0;
    border: 1px solid #d8d8d8;
    color: #606060;
    font-family: avenir-roman;
    font-size: 24px;
    font-weight: 400;
}
.add-new-op a {
    color: #2caf97;
    font-family: avenir-medium;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}
.radio-buttons label {
    margin: 0;
    color: #072f41;
    font-family: avenir-roman;
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
}
.arrow-steps .step:after, .arrow-steps .step:before {
    content: " ";
    position: absolute;
    top: 0;
    right: -17px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #e7e7e7;
    z-index: 2;
    transition: border-color 0.2s ease;
}

.arrow-steps .step:before {
	right: auto;
	left: 0;
	border-left: 17px solid #fff;	
	z-index: 0;
}

.arrow-steps .step:first-child:before {
	border: none;
}

.arrow-steps .step:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.arrow-steps .step span {
	position: relative;
}
.step span {
    color: #142e3f;
    font-family: avenir-medium;
    font-size: 15px;
    font-weight: 500;
}
.arrow-steps .step.current span {
    color: #fff;
}
.arrow-steps .step span:before {
	opacity: 0;
	content: "✔";
	position: absolute;
	top: -2px;
	left: -20px;
}
.deshbord-title h4 {
    color: #606060;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
}

.arrow-steps .step.done span:before {
	opacity: 1;
	-webkit-transition: opacity 0.3s ease 0.5s;
	-moz-transition: opacity 0.3s ease 0.5s;
	-ms-transition: opacity 0.3s ease 0.5s;
	transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.current {
    color: #fff;
    background-color: #2baf96;
}

.arrow-steps .step.current:after {
	border-left: 17px solid #2baf96;	
}



.radio-buttons {
    max-width: 802px;
    margin: 0 auto;
    margin-top: 69px;
}
.catre-name input {
    text-align: center;
}
.back-button.content-btt {
    margin-top: 40px;
    text-align: center;
}

.back-button.content-btt button {
    margin: 0 auto;
}
.radio-buttons h2 {
    color: #072f41;
    font-family: avenir-roman;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 39px;
}

/* CSS used here will be applied after bootstrap.css */
/* custom checkboxes */
/***** RADIO BUTTON STYLES *****/
.radio-buttons .rdio {
    position: relative;
    border: 1px solid #d8d8d8;
    background-color: #ffffff;
    border-bottom: 0;
}
.rdio.rdio-primary.radio-inline.active {
    background-color: #fafafa;
}
.radio-buttons .rdio:last-child {
    border-bottom: 1px solid #d8d8d8;
}
.Continue-btt button.btn.btn-primary.join-btt {
    margin-right: 110px;
    border-radius: 0;
}
.radio-buttons .rdio input[type="radio"] {
  opacity: 0;
}


.radio-buttons .rdio label {
    cursor: pointer;
    color: #606060;
    font-family: avenir-roman;
    font-size: 24px;
    font-weight: 400;
    border-left: 1px solid #d8d8d8;
    margin-bottom: auto;
    padding: 10px 22px;
    margin-left: 40px;
    width: 90.8%;
}
.radio-buttons .rdio label:before {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 21px;
    left: 19px;
    content: '';
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 3px solid #cfcfcf;
    background: #fff;
}
.radio-buttons .rdio input[type="radio"] {
  margin: 0px;
}
.radio-buttons .rdio input[type="radio"]:disabled + label {
  color: #999;
}
.radio-buttons .rdio input[type="radio"]:disabled + label:before {
  background-color: #fbc52d;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 23px;
    display: inline-block;
    font-size: 11px;
    width: 10px;
    height: 10px;
    background-color: #2caf97;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.radio-buttons .rdio-default input[type="radio"]:checked + label:before {
  border-color: #fbc52d;
}

.radio-buttons .rdio-primary input[type="radio"]:checked + label:before {
    border-color: #2caf97;
}
.radio-buttons .rdio-primary input[type="radio"]:checked + label::after {
    background-color: #2caf97;
}



.seting-tabs {
    box-shadow: 0 5px 20px rgba(0, 128, 255, 0.14);
    background-color: #ffffff;
}


/***********Category-Management.*******/
button.btn.btn-success.red {
    border-color: #f26678;
    background-color: #f26678;
}
.custom-control.custom-checkbox.table-checkbox {
    text-align: center;
}

.add-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.add-title button.btn.btn-success {
    border-color: #2caf97;
    width: 199px;
    height: 50px;
    background-color: #2caf97;
    color: #ffffff;
    font-family: avenir-medium;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.scrch-bar input {
    width: 442px;
    height: 45px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a0a0a0;
    font-family: avenir-roman;
    font-size: 15px;
    font-weight: 400;
}

.scrch-bar span {
    position: absolute;
    top: 11px;
    right: 17px;
    color: #b0b0b0;
}

.scrch-bar {
    position: relative;
}

.toggle-button {
    display: none;
}

/********************/
.add-owner {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    background-color: #ffffff;
    margin: 30px;
    padding: 30px;
}
.add-owner .form-group {
    margin-bottom: 24px;
}
.add-owner label {
    color: #000000;
    font-size: 18px;
    font-family: avenir-medium;
    font-weight: 500;
}
.add-owner input {
    height: 50px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #8a8a8a;
    font-size: 16px;
    font-family: avenir-light;
    font-weight: 400;
    border-radius: 0;
}
.add-owner select {
    height: 50px !important;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #8a8a8a;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 0;
}
button.btn.btn-secondary.done-button {
    display: block;
    background-color: #003043;
    color: #fff;
    font-family: avenir-roman;
    font-weight: 400;
    margin-top: 20px;
    border-radius: 0;
    padding: 13px 72px;
    text-transform: uppercase;
}
/***********profile*****/
.welcome-title {
    background-color: #142e3f;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.welcome-title h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: avenir-roman;
    margin: 0;
}

.welcome-title h2 span {
    color: #8596aa;
    padding-left: 10px;
}

.welcome-title a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: avenir-roman;
    margin: 0;
    text-decoration: none;
}
.welcome-title a span {
    padding-right: 10px;
}
.profile-title {
    margin-top: 50px;
    margin-left: 50px;
}
.profile-page {
    margin-top: 30px;
}
.profile-title p {
    color: #606060;
    font-family: avenir-roman;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}
.profile-title h3 {
    font-size: 36px;
    color: #142e3f;
    font-family: avenir-light;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile-title h3 a {
    background-color: #00b296;
    padding: 15px 50px;
    border-color: #00b296;
    color: #ffffff;
    font-family: avenir-roman;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.profile-title h3 a span {
    padding-right: 10px;
}
.jeremy-ros {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
}
.peofile-text {
    width: 70%;
}
.contact-ros {
    display: flex;
    align-items: center;
}
.contact-ros h2 {
    font-size: 34px;
    font-weight: 400;
    color: #142e3f;
    padding-right: 20px;
    font-family: avenir-roman;
}
h4.content-green {
    color: #142e3f;
    font-size: 16px;
    font-weight: 500;
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
}
.personal-information {
    margin-top: 30px;
}
.personal-information h3 {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.personal-information ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 58%;
}
.personal-information ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.personal-information ul li h4 {
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.personal-information ul li h5 {
    color: #142e3f;
    font-size: 16px;
    font-weight: 500;
    font-family: avenir-light;
    text-align: left;
    width: 237px;
}
.personal-information h3 {
    color: #a9a9a9;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
/*********responsive*********/
@media only screen and (min-width: 320px) and (max-width: 767px) {
.welcome-title {
    padding: 15px;
}
.step span {
    font-size: 13px;
}

.profile-page {
    margin-top: 30px;
}

.profile-title {
    margin-left: 0;
    margin-top: 30px;
}

.jeremy-ros {
    margin-left: 0;
}

.contact-ros h2 {
    font-size: 20px;
}
.welcome-title h2 {
    font-size: 18px;
}

.welcome-title a {
    font-size: 18px;
}

.profile-title h3 {
    font-size: 25px;
}

.peofile-text {
    width: 100%;
}

.personal-information ul {
    width: 100%;
}

.personal-information ul li h5 {
    width: 175px;
}

.deshbord-footer p {
    text-align: center;
}

.deshbord-footer ul.social-link {
    justify-content: center;
    margin-top: 10px;
}	
.add-title {
    flex-direction: column;
}

.scrch-bar input {
    width: 100%;
    margin-top: 14px;
}

.scrch-bar span {
    top: 26px;
}	
.toggle-button {
    display: block;
}	
.toggle-button button {
    border-color: #072f41;
    background-color: #072f41;
}
ul.deshbord-list {
    flex-direction: column;
    margin-bottom: 30px;
}
li.nav-item.bel {
    padding: 0;
    margin: 0;
    border: 0;
}

li.nav-item.bel:before {
    border: 0;
}

.deshbord-title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

ul.deshbord-list li {
    width: 100%;
    margin-bottom: 10px;
}

.desh-text h5 {
    font-size: 18px;
    margin: 0;
}
h2.post-title {
    font-size: 16px;
}

.deshbord-title button.btn.btn-link {
    padding: 11px 16px;
    font-size: 12px;
}

.desh-text h4 {
    font-size: 13px;
}

ul.deshbord-list li img {
    width: 35px;
}

.dtable-done-btt button {
    margin-bottom: 5px;
    font-size: 10px;
}

#content {
    padding: 0px;
}

.admin-bg p {
    font-size: 15px;
    line-height: 26px;
}

.post-text p {
    font-size: 12px;
}

.post-text h3 {
    font-size: 12px;
}
.table th h4 {
    font-size: 13px;
}

.table td p {
    font-size: 12px;
}

.sheman-hr h4 {
    font-size: 16px;
}

.client-page {
    padding-bottom: 0;
}
#sidebar ul li a {
    font-size: 15px;
    padding: 10px 10px;
}

.sheman-box {
    margin-bottom: 10px;
}

.deshbord-title h2 {
    font-size: 25px;
}

.deshbord-title h2 span {
    font-size: 14px;
}
.navbar-light .navbar-brand {
    width: 66%;
}	
ul.deshbord-list.admin-Management li {
    width: 100%;
}

.pagination-table .pagination .page-link {
    width: 30px;
    height: 30px;
}

.pagination-table .pagination {
    margin-top: 20px;
}
/*******Admin-Client-list*********/	
.compeny-list {
    flex-direction: column;
}

.compeny-list ul {
    flex-direction: column;
    width: 100%;
    border: 0;
    padding-right: 0;
}

.all-freelancer {
    flex-direction: column;
    padding: 0px;
    padding-bottom: 20px;
}

.date-picker {justify-content: center;}

.compeny-list ul li {
    margin: 0;
}

.last-button {
    display: flex;
    margin: 10px 0;
}

.last-button button {}

button.btn.btn-secondary.last-month {
    padding: 10px 6px;
    font-size: 14px;
}

.clear-box input {
    width: 75px !important;
}

.form-surch input {
    width: 261px;
}

.all-freelancer .form-group {
    margin: 15px 0;
}
/*********Add-new-category********/	
.arrow-steps .step {
    margin-bottom: 5px;
    min-width: 72px;
}
.radio-buttons {
    margin-top: 30px;
}
.radio-buttons h2 {
    font-size: 18px;
    margin-bottom: 10px;
}


.radio-buttons label {
    font-size: 16px;
}
.add-new-op a {
    font-size: 16px;
}

.radio-buttons.catre-name {
    margin-top: 30px;
}

.question-input input {
    font-size: 15px;
    height: 50px;
}
.radio-buttons .rdio label {
    width: 72.8%;
    padding: 2px 22px;
    font-size: 15px;
}
.radio-buttons .rdio label:before {
    top: 14px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 18px;
}
.back-button {
    margin-top: 30px;
    padding: 0 0;
}
.back-button button {
    width: 117px;
    height: 40px;
    font-size: 16px;
}
.add-owner input {
    height: 40px;
    font-size: 14px;
}

.add-owner label {
    font-size: 16px;
}

.add-owner .form-group {
    margin-bottom: 15px;
}
.add-owner {
    padding: 30px 20px;
}
	
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
/**********Dashboard**********/	
.welcome-title {
    padding: 15px;
}

.welcome-title h2 {
    font-size: 16px;
}

.welcome-title a {
    font-size: 16px;
}

.profile-title h3 {
    font-size: 25px;
}

.contact-ros h2 {
    font-size: 20px;
}

.personal-information ul li {
    margin-bottom: 15px;
}
.add-title button.btn.btn-success {
    height: 42px;
}	
.table th h4 {
    font-size: 14px;
}

.table td p {
    font-size: 12px;
}
.desh-text h4 {
    font-size: 14px;
}

.desh-text h5 {
    font-size: 18px;
    margin: 0;
}
ul.deshbord-list.admin-Management li img {
    width: 40px;
}

.admin-bg p {
    font-size: 15px;
    line-height: 26px;
}

.admin-bg {
    margin-bottom: 0px;
}

.post-text h3 {
    font-size: 12px;
}
.personal-information ul {
    width: 90%;
}
.post-table {
    max-width: 100% !important;
}	
#sidebar {
    display: none;
}
#sidebar.active {
    margin-left: 0;
    display: block;
}
.toggle-button {
    display: block;
}	
.toggle-button button {
    border-color: #072f41;
    background-color: #072f41;
}
.arrow-steps .step {
    margin-bottom: 5px;
}
li.nav-item.bel {
    padding: 0;
    margin: 0;
    border: 0;
}

li.nav-item.bel:before {
    border: 0;
}
ul.deshbord-list {
    flex-wrap: wrap;
}

ul.deshbord-list li {
    width: 48%;
    margin-bottom: 20px;
}

.dtable-done-btt {
    display: flex;
}

.dtable-done-btt button {
    font-size: 12px;
    padding: 7px 15px;
}

.client-page {
    padding-bottom: 50px;
    padding-top: 10px;
}
/***********Admin-Payment-Management*********/
ul.deshbord-list.admin-Management li {
    width: 48%;
}	
/***********Admin-Client-list**********/
.compeny-list {
    flex-direction: column;
}

.compeny-list ul {
    width: 100%;
    border: 0;
    padding-right: 0;
    flex-direction: column;
}
.deshbord-title h2 {
    font-size: 18px;
}

.deshbord-title h2 span {
    font-size: 14px;
}

.compeny-list li h4 {
    margin-bottom: 9px;
}

.all-freelancer .form-group select {
    margin: 10px 0px;
}

.clear-box input {
    width: 68px !important;
}

.compeny-list ul li {
    margin-right: 15px;
}

.form-surch input {
    width: 303px;
}

.all-freelancer {
    padding-top: 0px;
    flex-direction: column;
}

/***********Add-new-category********/
.radio-buttons {
    max-width: 500px;
    margin-top: 30px;
}

.radio-buttons h2 {
    font-size: 20px;
    margin-bottom: 20px;
}
.back-button.content-btt {
    margin-top: 30px;
    text-align: center;
}
#sidebar ul li a {
    font-size: 15px;
    padding: 10px 10px;
}
.cata-setaps {
    padding-bottom: 30px;
}

.question-input input {
    font-size: 16px;
    height: 50px;
}
.back-button {
    margin-top: 50px;
    padding: 0;
}
.back-button button {
    width: 131px;
    font-size: 14px;
    height: 40px;
}
.radio-buttons .rdio label {
    font-size: 16px;
    width: 87.8%;
    padding: 3px 10px;
}
.radio-buttons .rdio label:before {
    top: 15px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 19px;
}
.add-owner input {
    height: 40px;
    font-size: 15px;
}

.add-owner label {
    font-size: 16px;
}

.add-owner .form-group {
    margin-bottom: 15px;
}
	
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

	
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
.add-title button.btn.btn-success {
    height: 41px;
}	
.compeny-list li h4 {
    font-size: 14px;
    margin-bottom: 20px;
}	
.personal-information ul {
    width: 90%;
}	
ul.deshbord-list {
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.deshbord-list li {
    width: 30%;
    margin: 10px;
    padding: 20px 15px;
}

.desh-text h4 {
    font-size: 14px;
}

.desh-text h5 {
    font-size: 18px;
    margin: 0;
}

ul.deshbord-list li img {
    width: 30px;
}

.dtable-done-btt {
    display: flex;
}

.dtable-done-btt button {
    padding: 7px 17px;
}

.admin-bg p {
    font-size: 15px;
}
.admin-bg {
    margin-bottom: 0;
}

.client-page {
    padding-bottom: 50px;
    padding-top: 20px;
}
.deshbord-title h2 {
    font-size: 30px;
}	
ul.deshbord-list.admin-Management li {
    width: 46%;
}
/***********Admin-Client-list**********/
.compeny-list {
    flex-direction: column;
}

.compeny-list ul {
    width: 100%;
    border: 0;
    padding-right: 0;
    flex-direction: column;
}

.clear-box input {
    width: 68px !important;
}

.compeny-list ul li {
    margin-right: 15px;
}

.form-surch input {
    width: 303px;
}

.all-freelancer {
    padding-top: 0px;
}
/***********Add-new-category********/
.radio-buttons {
    max-width: 500px;
    margin-top: 30px;
}
#sidebar ul li a {
    font-size: 16px;
    padding: 10px 10px;
}

.back-button button {
    height: 50px;
}

.back-button.content-btt {
    margin-top: 20px;
}

.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.question-input input {
    font-size: 15px;
    height: 50px;
}	
.back-button {
    margin-top: 50px;
}
.radio-buttons .rdio label {
    font-size: 16px;
    width: 87.8%;
    padding: 2px 20px;
}
.radio-buttons .rdio label:before {
    top: 13px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 17px;
}
.add-owner input {
    height: 40px;
    font-size: 15px;
}

.add-owner label {
    font-size: 16px;
}

.add-owner .form-group {
    margin-bottom: 15px;
}
.welcome-title {
    padding: 15px;
}

.welcome-title h2 {
    font-size: 16px;
}

.welcome-title a {
    font-size: 16px;
}

.profile-title h3 {
    font-size: 25px;
}

.contact-ros h2 {
    font-size: 20px;
}

.personal-information ul li {
    margin-bottom: 15px;
}
	
}


@media only screen and (min-width: 1201px) and (max-width: 1365px) {
/***********deshbord**********/	
.personal-information ul {
    width: 70%;
}
ul.deshbord-list li {
    padding: 15px 15px;
}

.desh-text h4 {
    font-size: 12px;
}

.desh-text h5 {
    font-size: 18px;
}

ul.deshbord-list li img {
    width: 30px;
}

.admin-bg p {
    font-size: 16px;
}
.client-page {
    padding-bottom: 50px;
    padding-top: 20px;
}
.table td .raiting span {
    font-size: 11px;
}	
/********Admin-Client-list************/	
.form-surch input {
    width: 204px;
    font-size: 13px;
}

.clear-box input {
    width: 42px !important;
    font-size: 10px;
}
.dtable-done-btt {
    display: flex;
    justify-content: center;
}
.last-button button {
    padding: 10px 8px;
    font-size: 10px;
    margin-bottom: 6px;
}
.all-freelancer {
    margin-left: 17px;
}

button.btn.btn-secondary.all-free {
    padding: 11px 6px;
    font-size: 12px;
}
.compeny-list ul li {
    margin-right: 6px;
}

.compeny-list {
    padding: 0 10px;
}

.all-freelancer .form-group select {
    font-size: 13px;
}

.table th h4 {
    font-size: 14px;
}

.table td p {
    font-size: 14px;
}

.post-text h3 {
    font-size: 14px;
}

.deshbord-title h2 {
    font-size: 30px;
}

/***********Add-new-category********/
.radio-buttons {
    max-width: 600px;
    margin-top: 50px;
}

.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 30px;
}
#sidebar ul li a {
    font-size: 16px;
    padding: 12px 10px;
}

.back-button button {
    height: 50px;
}

.question-input input {
    font-size: 16px;
    height: 50px;
}
.radio-buttons .rdio label {
    font-size: 16px;
    width: 89.8%;
    padding: 4px 10px;
}
.radio-buttons .rdio label:before {
    top: 16px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 20px;
}

.back-button {
    margin-top: 70px;
    padding: 0 54px;
}	
.add-owner input {
    height: 40px;
    font-size: 15px;
}

.add-owner label {
    font-size: 16px;
}

.add-owner .form-group {
    margin-bottom: 15px;
}
.welcome-title {
    padding: 15px;
}

.welcome-title h2 {
    font-size: 16px;
}

.welcome-title a {
    font-size: 16px;
}

.profile-title h3 {
    font-size: 25px;
}

.contact-ros h2 {
    font-size: 20px;
}

.personal-information ul li {
    margin-bottom: 15px;
}
	
}

@media only screen and (min-width: 1366px) and (max-width: 1900px) {
/***************/	
.form-surch input {
    width: 198px;
}

.clear-box input {
    width: 47px !important;
}

.last-button button {
    padding: 10px 10px;
    font-size: 12px;
}

.compeny-list ul li {
    margin-right: 10px;
}

.compeny-list {
    padding: 0 15px;
}

button.btn.btn-secondary.all-free {
    padding: 10px 13px;
}

.compeny-list li h4 {
    font-size: 15px;
}	
	
/***********/
.desh-text h5 {
    font-size: 18px;
}

.desh-text h4 {
    font-size: 10px;
}

ul.deshbord-list li {
    padding: 17px 16px;
}

ul.deshbord-list li img {
    width: 30px;
}	
.client-page {
    padding-top: 10px;
}

.deshbord-title h2 {
    font-size: 25px;
}

.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.radio-buttons {
    margin-top: 40px;
}

.question-input input {
    font-size: 16px;
    height: 50px;
}

.radio-buttons .rdio label {
    padding: 4px 22px;
    font-size: 16px;
}

.radio-buttons .rdio label:before {
    top: 15px;
}

.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 19px;
}

.back-button {
    margin-top: 50px;
}

.back-button button {
    height: 50px;
}

.client-page {
    padding-bottom: 50px;
}

#sidebar ul li a {
    font-size: 15px;
}
.admin-bg p {
    font-size: 16px;
}
.table td p {
    font-size: 15px;
}

.table th h4 {
    font-size: 15px;
}

.post-text h3 {
    font-size: 15px;
}
ul.deshbord-list {
    margin-bottom: 30px;
}
.add-owner input {
    height: 40px;
    font-size: 15px;
}

.add-owner label {
    font-size: 16px;
}

.add-owner .form-group {
    margin-bottom: 15px;
}
#sidebar ul li a {
    font-size: 16px;
    padding: 12px 10px;
}

.back-button button {
    height: 50px;
}
.add-title button.btn.btn-success {
    height: 45px;
}
	
.welcome-title {
    padding: 15px;
}

.welcome-title h2 {
    font-size: 16px;
}

.welcome-title a {
    font-size: 16px;
}

.profile-title h3 {
    font-size: 25px;
}

.contact-ros h2 {
    font-size: 20px;
}

.personal-information ul li {
    margin-bottom: 15px;
}	
}