@media only screen and (min-width: 320px) and (max-width: 767px) {.connect-demand {    display: none;}.banner {    padding-top: 0px;}.hire-project .row {    flex-direction: column-reverse;}.connect-demand.demand-man2 {    display: block;}.connect-demand img {    width: 100%;}	.man-gggggg {    padding: 0 20px;}.intro-video {    padding: 0 20px;}.skill-list {    padding: 0 20px;}.contacts-button {    padding: 0 20px;}	
nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-transparent {
    background-color: #0b415a !important;
}
.logo-list.phone {
    display: block;
}
.logo-list.destop {
    display: none;
}
.popular-course .slick-dots {
    bottom: -47px;
}
.clinet-say ul li {
    width: 100%;
    border-right: 0;
}
.navbar-light .navbar-nav .nav-link {
    text-align: left;
}	
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu.png);
    width: 22px;
    background-size: 100%;
    height: 22px;
}	
.login-form h2 {
    font-size: 30px;
}
.star-living h2 {
    font-size: 25px; 
}

.star-living p {
    font-size: 18px;
    line-height: 25px;
}

.freelance-button {
    flex-direction: column;
}

.freelance-button a {
    width: 100%;
    font-size: 14px;
    padding: 10px 7px;
    margin-bottom: 10px;
}	
.client-img-tabe img {
    width: 100%;
}	
/* chat page */
.chatting-page {
    height: calc(100vh - 62px);
}

.mesgs {
    height: calc(100vh - 110px);
}

.type_msg {
    padding: 0 10px;
    height: 45px;
}

.input_msg_write input {
    padding: 10px 5px;
    font-size: 14px;
    height: 45px;
}

.msg_send_btn {
    height: 36px;
    width: 85px;
    font-size: 12px;
}

.received_withd_msg {
    width: 90%;
    margin-right: 0;
    padding: 10px 10px;
}

.incoming_msg {
    margin: 10px 0;
}

.incoming_msg_img {
    width: 35px;
}

.incoming_msg_img img {
    width: 35px;
    height: 35px;
}

.received_msg {
    padding-left: 5px;
}

.outgoing_msg .sent_msg {
    width: 78%;
    padding: 10px 10px;
    margin-right: 5px;
}

.sent_msg p, .received_withd_msg p {
    font-size: 12px;
    margin-bottom: 5px;
}

.chat-time-detail {
    margin-bottom: 0;
}

.outgoing_msg {
    margin: 10px 0;
}

.chat-date {
    padding: 10px 0;
    font-size: 14px;
}

#sidebar {
    width: 70%;
}

#content12 {
    width: 100%;
}

#content12.active {
	width: 100%;
}

#sidebar.active {
    margin-left: 0%;
}

#sidebar {
    margin-left: -70%;
}

.sidebar-inner {
    padding: 10px 10px 20px;
}
div#mCSB_1 {
    background-color: #fff;
}

.chat-user-details {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0 0;
}

.chat-user-img {
    width: 110px;
}

.chat-user-img .brand-logo img {
    width: 70px;
}

.chat-user-img .brand-logo {
    left: 10px;
    bottom: 5px;
}

.chat-user-profile {
    width: 100%;
    padding-left: 0;
    padding: 10px 0;
}

.chat-user-profile h2 {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
}

.chat-user-profile h2 span {
    font-size: 12px;
    width: 80px;
    height: 25px;
    margin-top: 5px;
    margin-left: 0;
}

.chat-user-profile h2 span .fa {
    font-size: 10px;
}

.chat-user-profile h4 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}

h4.active-time {
    margin-top: 10px;
}

.user-hired-btn {
    width: 150px;
    height: 35px;
    font-size: 13px;
}

.hired-profile-btn {
    flex-direction: column;
    align-items: flex-start;
}

a.full-profile-btn {
    font-size: 14px;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 12px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-user-statics ul {
    flex-wrap: wrap;
    justify-content: space-between;
}

.chat-user-statics ul li {
    width: 48%;
    margin: 10px  0;
    height: 40px;
}

.chat-user-statics ul li:nth-child(2) {
    border-right: 0;
}

.chat-user-statics .raiting .fa {
    font-size: 10px;
}

.chat-user-statics ul li h3 {
    font-size: 15px;
}
.review-area h5 {
    font-size: 14px;
}
.review-area p {
    padding: 0;
}
.view-profile-btn {
    height: 40px;
}
.contact-btn {
    height: 40px;
}

.post-text h3 {
    font-size: 14px;
}

.post-text p {
    font-size: 12px;
}

.table td p {
    font-size: 12px;
}
.chat-user-statics ul li p {
    font-size: 12px;
    text-align: center;
}

.chat-user-statics {
    padding: 0 0 10px;
}

.chat-profile h3.title {
    padding: 5px 0;
    margin-bottom: 10px;
}

.chat-user-gallery {
    padding: 10px 0;
}

.about-chat-user {
    padding: 10px 0;
}

.about-chat-user p {
    font-size: 14px;
}

.chat-profile h3.title {
    font-size: 17px;
}

.user-review-details {
    flex-direction: column;
}

.review-img {
    margin-bottom: 10px;
}

.review-img img {
    width: 50px;
    height: 50px;
}

.review-details {
    padding-left: 0;
}

.review-details p {
    font-size: 14px;
}
/* chat page */	
/************index**********/	
.Justzoom-Developers {
    margin: 50px 0px;
}

.Justzoom-Developers ul li h3 {
    font-size: 16px;
    line-height: 29px;
}

.footer {
    padding-top: 50px;
}

ul.social-link {
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer h2 {
    font-size: 16px;
}

.footer-link li a {
    font-size: 16px;
}

ul.footer-link {
    margin-bottom: 20px;
}

.copy-right {
    padding: 10px 0px;
    margin-top: 10px;
}
.footer img {
    width: 64%;
}
.footer h4 {
    text-align: left;
    margin-top: 12px;
    font-size: 16px;
}

a.now-btt {
    padding: 12px 20px;
}

.copy-right p {
    text-align: center;
    font-size: 13px;
}

.copy-right ul {
    justify-content: center;
}

.navbar-light .navbar-toggler {
    background-color: #0b415a;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    padding: 7px 0px;
}
a.nav-link.talant-btt {
    padding-left: 10px !important;
}
.header a.nav-link.talant-btt {
    padding-left: 10px;
}
/* .logo-list ul {
    flex-direction: column;
} */

.form-tabs {
    width: auto;
}

.testmonial-title ul {
    flex-direction: column;
}

.bg-light {
    padding: 10px 20px;
}

.navbar-light .navbar-brand {
    margin-right: 20px;
    width: 60%;
}

.navbar-light .navbar-brand img {
    width: 100%;
}

.banner:before {
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0 15px;
}

.banner h2 {
    font-size: 25px;
    line-height: 40px;
}

.banner p {
    font-size: 16px;
    line-height: 26px;
}

.hear-button a {
    width: 100%;
}

.hear-button a button {
    padding: 10px 11px;
}.curcle-img {    height: auto;}

.hear-button {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

.logo-list {
    padding: 20px 10px;
}
.logo-list ul li {
    margin: 0 10px;
}
.logo-list ul li h2 {
    margin: 0;
}
/* .logo-list ul li {
    margin-bottom: 20px;
} */

.we-talent h3 {
    font-size: 20px;
}

.we-talent p {
    font-size: 16px;
}

.client-gallrey {
    margin-top: 50px;
    padding: 50px 30px;
}

button.btn.btn-secondary.diceover-btt {
    padding: 16px 48px;
    font-size: 16px;
}

.connect-demand .col-md-6 {
    padding: 50px 30px !important;
}

.connect-demand h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
}

.connect-demand p {
    font-size: 16px;
    line-height: 32px;
}

.connect-demand ul li h3 {
    line-height: 30px;
    font-size: 16px;
}

button.btn.btn-secondary.Get-Started {
    margin-top: 30px;
}

.get-banner {
    width: 289px !important;
    height: 300px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 38px;
}	
.get-banner h5 {
    font-size: 20px;
    margin-top: 20px;
}
.testmonial {
    overflow: hidden;
	margin-top:0px;
}
.testmonial-title ul h4 {
    font-size: 16px;
}
.test-box p {
    font-size: 16px;
    margin-bottom: 20px;
}

.mc-nallay h3 {
    font-size: 14px;
}

.mc-nallay h4 {
    font-size: 14px;
}
.get-banner h6 {
    margin-top: 23px;
    font-size: 14px;
}
.curcle-banner .slick-dots {
    bottom: -60px;
    left: 0;
}
.hare-left {
    margin-top: 25px;
}

.hare-left h2 {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
}

.hare-left p {
    font-size: 16px;
    margin-bottom: 30px;
}
.hare-left h4 {
    padding-left: 0;
    text-align: center;
}
.hire-project {
    padding-top: 50px;
}

button.btn.btn-secondary.green-bttt {
    padding: 10px 31px;
    width: 100%;
}
.crwford-box h2 {
    font-size: 16px;
}

.crwford-bg ul li:first-child {
    right: 0;
}

.crwford-bg ul li:nth-child(2) {
    position: relative;
    top: 0;
}

.crwford-bg ul li:nth-child(3) {
    right: 0;
    top: 0;
}

.crwford-bg ul li {
    margin: 0 auto;
    margin-bottom: 10px;
}

.demand-talent:before {
    background-image: unset;
}

.demand-talent {
    padding-top: 50px;
    margin-top: 50px;
}

.demand-talent h2 {
    font-size: 24px;
    line-height: 40px;
}
.demand-talent h2 br {
    display:none;
}

.demand-talent p {
    font-size: 16px;
    margin-bottom: 30px;
}
.clinet-say ul li h3 {
    font-size: 16px;
}

.clinet-say ul li h4 {
    font-size: 16px;
}

.clinet-say ul li a {
    font-size: 16px;
}

.clinet-say {
    padding: 30px 15px;
}

.clinet-say ul {
    flex-direction: column;
}

.clinet-say ul li {
    margin-bottom: 15px;
}

.testmonial-bg {
    margin-top: 50px;
    padding-bottom: 0;
}
.testmonial-title h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.nav-tabs .nav-link {
       padding: 20px 5px;
    font-size: 13px;
}
ul.Designers-list li {
    flex: 30%;
    margin-bottom: 37px;
}

ul.Designers-list li:before {
    width: 78px;
}
.row.three h2 {
    padding-top: 0;
}
.test-box {
    max-width: 280px;
	margin:30px  auto;
	display:block !important
}

.clients-forms {
    padding: 29px 20px;
}

.clients-forms p {
    font-size: 16px;
}

.try-today {
    padding-top: 30px;
}
.clients-forms .form-group input {
    font-size: 16px;
}

h2.try-title {
    font-size: 30px;
    margin-bottom: 20px;
}

button.btn.btn-primary.join-btt {
    padding: 14px 58px;
    margin-top: 20px;
}
/***********about-us********/	
.header:before {
    background-image: unset;
}

.business-banner {
    padding: 0px 0px;
}

.business-banner h2 {
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 10px;
}
.business-banner h2 br {
    display: none;
}

.business-banner p {
    font-size: 16px;
    line-height: 24px;
}
.about-logo img {
    width: 100%;
}

.business-banner.about-bgg {    padding-top: 0px;    padding-bottom: 20px;}

.about-logo {
    padding-bottom: 20px;
}

.about-tabs .nav-tabs .nav-link {
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
}

.about-list-taab h2 {
    font-size: 30px;
    padding-top: 0;
    line-height: 30px;
}

.about-list-taab p {
    font-size: 16px;
    line-height: 32px;
}

.about-list-taab {
    padding: 50px 0px;
}

.row.involis-project {
    margin-top: 50px;
}

.high-perfomance {
    margin: 50px 0px;
    margin-bottom: 0;
}

.client-logo {
    border-right: 0;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 20px;
}

.our-culture {
    padding: 50px 0px;
    background-position: 38% 59%;
}

.our-culture h2 {
    font-size: 30px;
    line-height: 20px;
}

.our-culture p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 0;
}

.find-expert {
    padding: 50px 0px;
}

.find-expert h2 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 20px;
}

.find-expert p {
    font-size: 16px;
}
/*********blog**********/
.blog-bg:before {
    background-image: unset;
}

.blog-bg {
    padding: 0px 0px;
    padding-bottom: 20px;
}

.blog-bg h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: initial;
}

.blog-bg p {
    font-size: 16px;
    line-height: 26px;
}
.blog-bg p br {
    display:none;
}

.blog-listing {
    padding: 50px 0px;
    padding-bottom: 0;
}

.blog-box h3 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.blog-box a {
    font-size: 16px;
}

.blog-box {
    margin-bottom: 20px;
}

.pagination-list {
    margin-top: 20px;
}

.blog-img h2 {
    font-size: 18px;
}
/********Blog-detail********/
.blog-banner {
    padding-top: 0;
    padding-bottom: 30px;
}

.blog-banner h3 {
    font-size: 19px;
    line-height: 26px;
    margin-bottom: 20px;
}
.blog-banner h3 br {
   display:none;
}

.blog-banner h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.blog-content {
    padding: 50px 0px;
    padding-bottom: 0;
}

.blog-content p {
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 20px;
}
.blog-content h2 {
    font-size: 13px;
    line-height: 29px;
    margin-bottom: 20px;
}

button.btn.btn-secondary.back-button {
    margin-top: 30px;
}
.freelance-dropdown select {
    height: 40px;
    font-size: 16px;
}
/***********clients*********/
.Benefits {
    padding: 50px 0px;
}

.Benefits h2 {
    font-size: 25px;
    line-height: 40px;
}

.Benefits p {
    font-size: 16px;
    line-height: 32px;
}

.Benefits ul li h3 {
    font-size: 16px;
    line-height: 25px;
}

.Benefits ul {
    margin-bottom: 20px;
}

.row.benifit-2 {
    margin-top: 50px;
}

.phone-img img {
    width: 100%;
}



.phone-img {
    margin: 20px 0px;
}

.lock-img {
    margin: 20px 0px;
}
/*********contact**********/
.contact-bg {
    padding: 50px 0px;
    padding-bottom: 0;
}

.contact-bg h2 {
    font-size: 30px;
    line-height: initial;
    margin-bottom: 10px;
}

.Are-you-client h3 {
    font-size: 22px;
    line-height: 32px;
}

.Are-you-client p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0;
}
.Are-you-client p br {
    display:none;
}
.border-list .col-md-6:first-child .Are-you-client {
    border: 0;
    border-bottom: 1px solid #dfdfdf;
}

button.btn.btn-danger.red {
    margin-top: 20px;
}

.Are-you-client {
    padding-bottom: 20px;
    margin-bottom: 20px;
}

button.btn.btn-success.green {
    margin-top: 0;
}
.admin-bg p {
    font-size: 14px;
    line-height: 25px;
}

.admin-bg {
    padding: 15px 20px;
}

.resaled-btt button {
    padding: 10px 20px;
    font-size: 10px;
}

.have-account {
    margin: 20px 0px;
}

.have-account h2 {
    font-size: 18px;
}
/***********create-account*******/
.Lets-Talk-page {
    padding: 10px 0px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2.lets-talk-title {
    font-size: 25px;
    padding-bottom: 0;
}

.Lets-Talk-page .clients-forms {
    max-width: 90%;
}

.clients-forms p {
    margin-bottom: 30px;
}
/**********Enterprise*******/
.custom-bulit {
    padding: 50px 0px;
}

.custom-bulit h2 {
    font-size: 30px;
    line-height: 40px;
}

.custom-bulit p {
    font-size: 16px;
    line-height: 25px;
}

.custom-bulit p br {
    display: none;
}

.title h2 {
    font-size: 25px;
    line-height: 40px;
}

.title p {
    font-size: 18px;
    line-height: 25px;
}

.teams-list h3 {
    font-size: 16px;
}

.teams-list p {
    font-size: 16px;
    line-height: 25px;
}

.sign-button {
    padding-top: 30px;
}

.sign-button p {
    font-size: 22px;
    line-height: 32px;
}
/***********hiretoptelent******/
.hiretoptelent-page {
    padding: 50px 0px;
}

.hiretoptelent-bg {
    padding: 30px 20px;
    margin-top: 50px;
}
.you-interest h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.you-interest h3 {
    font-size: 17px;
    margin-bottom: 20px;
}

.you-interest {
    padding-bottom: 30px;
}

h2.just-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.Finance-listing li h3 {
    font-size: 16px;
    line-height: 25px;
}

.surch-form input {
    height: 40px;
}

.surch-form span {
    top: 8px;
}
/**********howitworks**********/
.how-it-work:after {
    background-image: unset;
}

.how-it-work-tabs .nav-tabs .nav-item {
    margin-right: 20px;
}

.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 15px;
}

.client-tabs .row {
    padding: 25px 0px;
}

.client-tabs h2 {
    font-size: 24px;
    line-height: 40px;
}

.client-tabs p {
    font-size: 16px;
    line-height: 25px;
}

.client-tabs {
    padding-top: 0;
}

.client-tabs ul li h3 {
    font-size: 16px;
    line-height: 25px;
}

.client-tabs ul {
    margin-bottom: 25px;
}

.join-img img {
    width: 100%;
}

.join-img {
    margin: 20px 0px;
}
.clients-forms h4 {
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 20px;
}
.clients-forms h4 br{
    display:none;
}
/***********Profile_V2********/
.profile-adrien {
    padding: 50px 0px;
    padding-left: 10px;
    padding-right: 10px;
    float: none;
}

.profile-img h2 {
    font-size: 20px;
}
.profile-img h3 {
    font-size: 15px;
}
.star--list h4 {
    font-size: 16px;
}
.profile-page {
    margin-top: 40px;
}
.verifi-button h4 b {
    font-size: 24px;
}

.skill-list ul li a {
    font-size: 12px;
    padding: 7px 8px;
}

.profile-tabs {
    padding: 0;
    padding: 30px 15px;
}
.profile-tabs .nav-tabs {
    justify-content: center;
}
.profile-tabs .nav-tabs .nav-link {
    font-size: 13px;
    padding: 10px 8px
}

.tabs-rate p {
    font-size: 14px;
    margin-bottom: 10px;
}
.profile-tabs.view-tabs {
    padding-bottom: 20px;
}
.left-aero {
    padding-bottom: 25px;
}

.contacts-button button.btn.btn-success {
    font-size: 15px;
    padding: 12px 0px;
}

.tabs-rate {
    padding-top: 0;
}

.downlod-pdf a {
    font-size: 15px;
}

.downlod-pdf {
    margin-bottom: 20px;
}

.projects-text {
    margin-bottom: 20px;
}

.projects-text h3 {
    font-size: 15px;
}

.profile-img h3 {
    font-size: 15px;
}

.tabs-rate h2 {
    font-size: 13px;
}
.review-allira h4 {
    font-size: 11px;
}

.Projects-rate-list {
    flex-wrap: wrap;
}

.Projects-rate-list li {
    width: 46%;
    margin: 5px;
    padding: 10px 10px;
}

.Projects-rate-list li h3 {
    font-size: 18px;
}

.Projects-rate-list li h4 {
    font-size: 16px;
}

.hire-box {
    flex-direction: column;
    margin-top: 20px;
}

.hire-box h2 {
    font-size: 15px;
    margin-bottom: 20px;
}

.Experience-lsit {
    margin-top: 30px;
}

.Experience-lsit ul li h3 {
    font-size: 16px;
}

.portfolio-img {
    margin-top: 20px;
}

.portfolio-img ul {
    margin-bottom: 30px;
}

.revew-button {
}

.revew-button button.btn.btn-link {
    padding: 11px 17px;
}
/**************hire-adrien*************/
.hire-adrien-section {
    padding: 20px 20px;
    padding-top: 0;
}

.breadcrumb-nav .title h2 {
    font-size: 22px;
    margin: 0;
}

.hire-adrien-form label {
    font-size: 16px;
}

.hire-adrien-form .form-group {
    margin-bottom: 20px;
}

.hire-adrien-form .commitment-radio .custom-radio {
    width: auto;
    margin-right: 20px;
}

.hire-profile-section {
    margin-left: 0;
    margin-top: 25px;
}

.hire-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hire-profile h6 {
    margin-right: 0;
    text-align: center;
    margin: 0 auto;
}

.hire-profile .raiting {
    justify-content: center;
}

.hire-profile .hire-user-img {
    margin-bottom: 10px;
}

.hired-totl-price h3 {
    font-size: 18px;
}
.hire-adrien-form .form-control {
    height: 40px;
    font-size: 15px;
}

.hire-adrien-form textarea.form-control {
    height: 100px;
}

.hire-adrien-form .commitment-radio label {
    font-size: 16px;
}

.hire-adrien-form .upload-icon {
    right: 6px;
}

.breadcrumb-nav {
    padding: 10px 0px;
}

.hire-adrien-form button.btn.btn-continue {
    height: 40px;
}

.hired-price {
    font-size: 20px;
}

.hired-totl-price {
    padding: 10px 15px 10px;
}
.row.two h2 {
    padding-top: 0;
}
.payment-heading h3 {
    font-size: 18px;
    margin: 0;
}

.hire-adrien-form {
    padding: 20px 0;
}

.payment-notes h6 {
    font-size: 15px;
}
.hire-adrien-page {
    padding: 50px 0px;
    margin-top: 40px;
}
/*********profile-listing**********/
.profile-list {
    flex-direction: column;
}

.profile-list-left {
    width: 100%;
    max-width: 100%;
}

.profile-review-section {
    flex-direction: column;
}

.chat-user-statics ul {
    flex-direction: column;
    justify-content: center;
}

.chat-user-statics.profile-info ul li {
    width: 100%;
    border: 0;
}

.chat-user-statics.profile-info ul li.profile-name {
    width: 100%;
    text-align: center;
    align-items: center;
}

.profile-listing-page {
    padding: 50px 0;
	margin-top: 40px;
}

.iconic-heading .heading h2 {
    font-size: 20px;
}

.profile-btn-group {
    margin-top: 20px;
}

.chat-user-img img {
    margin: 0 auto;
    display: block;
}


.profile-statics h6 {
    width: 39%;
    margin: 0 auto;
}

.chat-user-statics ul li.profile-name h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.profile-statics {
    margin-top: 20px;
}
/********success**********/
.Payment-Succesfull {
    padding-top: 50px;
    margin-top: 40px;
	padding-bottom:50px;
}
.Succesfull-bg img {
    width: 64px;
}
.Succesfull-bg {
    padding: 50px 20px;
}

.Succesfull-bg h2 {
    font-size: 20px;
}

.Succesfull-bg p {
    font-size: 16px;
}
/************webdesign-requirement******/
.design-requirement {
    padding: 20px;
    padding-bottom: 50px;
}

.radio-buttons h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.radio-buttons {
    margin-top: 20px;
}

.radio-buttons .rdio label {
    font-size: 12px;
    margin-left: 37px;
    padding-left: 7px;
	width: 77.8%;
}
.radio-buttons .rdio label:before {
    top: 11px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 15px;
}
.webdesign-page {
    padding: 50px 0px;
	    margin-top: 40px;
}
/**********why*********/
.why-banner .business-banner {
    padding: 0;
    padding-bottom: 50px;
}

.why-banner .business-banner h2 {
    padding-top: 20px;
}

.Clients-post {
    padding-left: 15px;
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
}

.Clients-post h2 {
    font-size: 30px;
}

.Clients-post-text h3 {
    font-size: 12px;
}
.Clients-post ul li {
    margin-bottom: 20px;
}

.Clients-post-text p {
    font-size: 16px;
}
/*********Client-Dashboard**********/
ul.deshbord-list {
    flex-direction: column;
    margin-bottom: 20px;
}

ul.deshbord-list li {
    width: 100%;
    margin-bottom: 10px;
    padding: 13px;
}
.desh-text h5 {
    font-size: 18px;
    margin: 0;
}
.desh-text h4 {
    font-size: 14px;
}

.deshbord-title {
    flex-direction: column;
    justify-content: center;
}

.deshbord-title h2 {
    font-size: 24px;
}

.deshbord-title h2 span {
    font-size: 14px;
}

.view-img-con {
    padding-left: 10px;
}

.post-table {
    margin-top: 50px;
}
.hire-web h6 {
    font-size: 18px;
}

.wirter-hire p {
    font-size: 16px;
}

.client-page {
    padding-bottom: 50px;
}

.deshbord-footer ul.social-link {
    justify-content: center;
}

.deshbord-footer p {
    text-align: center;
    margin-bottom: 20px;
}
/********View-contract********/
.about-info-t h3 {
    font-size: 14px;
}

.about-info-t h2 {
    font-size: 16px;
}

.about-info-t {
    align-items: center;
}
.hire-box.view-hear h2 {
    text-align: center;
    margin: 0;
    font-size: 13px;
}
/***************Freelancer-Payment**********/
.Total-Earning.two {
    flex-direction: column;
    margin-top: 10px;
}

.account-info {
    width: 100%;
    margin-top: 20px;
}



.week-list h4 {
    font-size: 12px;
}

.week-list h5 {
    font-size: 12px !important;
}
ul.week-list {
    margin-top: 30px;
}

.Total-Earning h5 {
    font-size: 18px;
}
.table th h4 {
    font-size: 14px;
}

.client-page {
    margin-top: 50px;
}
ul.account-member li h2 {
    width: 42%;
    font-size: 12px;
}
ul.account-member li h3 {
    font-size: 12px;
}
/***********Freelancer-Dashboard*******/
button.btn.btn-warning.Progress-yulo {
    margin-bottom: 5px;
}

button.btn.btn-link.bcontact-button {
    padding: 8px 11px;
    font-size: 11px;
}
.view-img-con a {
    font-size: 12px;
}
.deshbord-list li img {
    width: 35px;
}
/*********Freelancer-Contract************/
.deshbord-list.freelance-openig li {
    width: 100%;
}

.deshbord-list.freelance-openig li img {
    width: 40px;
}
/**********Client-side-View-contract*********/
.contact-detals-view ul h3 {
    font-size: 14px;
}

.contact-detals-view ul h2 {
    font-size: 14px;
    width: 75px;
    padding-right: 20px;
}
/********Client-Dashboard**********/
.hire-web {
    margin-bottom: 20px;
    padding-top: 30px;
}
.hire-profile h2 {
    font-size: 12px;
}
.mon-profilr span {
    padding: 5px 10px;

}
.wirter-hire {
    padding: 18px 10px;
}
button.btn.btn-link.bcontact-button.Hire-blu {
    margin-top: 20px;
}
.hire-web h3 {
    margin-bottom: 18px;
}
/**********edit-profile********/
.profile-information {
    padding: 30px;
}

.edit-title h2 {
    font-size: 25px;
    line-height: 40px;
}

.profile-information {
    padding: 15px;
    margin: 0px;
}

.profile-photo .image-upload span {
    padding: 13px 4px;
    font-size: 11px;
}

.profile-photo .image-upload label {
    margin-left: 10px;
}

button.btn.btn-dark.cancle-border {
    padding: 11px 15px;
    font-size: 14px;
}

.profile-lavle {
    padding: 25px 0px;
}

.circle canvas {
    width: 150px;
}

.completion-bg {
    padding: 25px 10px;
    padding-bottom: 0;
}

.completion-bg h2 {
    font-size: 19px;
}

.circle strong {
    top: 45px;
	font-size: 25px;
}
.profile-form .form-group input {
    height: 40px;
    font-size: 14px;
}

.profile-form .form-group label {
    font-size: 16px;
}

.profile-photo {
    margin-bottom: 20px;
}

.profile-form .form-group {
    margin-bottom: 10px;
}

.profile-form .form-group textarea {
    font-size: 14px;
    height: 100px;
}

.profile-form .form-group select {
    height: 40px;
    font-size: 13px;
    padding: 0 4px;
}

.hourlay-input .form-group {
    margin: 0;
}

.image-upload h2 {
    padding: 15px 0px;
    font-size: 14px;
}

.profile-form h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-exprens {
    margin-bottom: 10px;
}

.add-exprens a {
    font-size: 14px;
}

.form-cncle-button {
    margin-top: 20px;
}

.form-cncle-button button {
    padding: 11px 50px;
}

.circle strong span {
    font-size: 17px;
}

.completion-bg h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.completion-bg ul li h4 {
    font-size: 12px;
}

.edit-profile-page {
    padding-bottom: 50px;
	    margin-top: 40px;
}

.profile-form {
    margin-bottom: 20px;
}

.edit-title h3 {
    font-size: 15px;
}

.edit-title {
    margin-bottom: 20px;
}
/********login*********/
.login-form {
    width: 100%;
    padding: 20px;
}

.login-page {
    padding: 50px 0px;
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
/********Setting*********/
.setting-page {
    margin-top: 40px;
    padding-bottom: 50px;
}

.seting-tabs .nav-tabs {
    padding-left: 10px;
}

ul.gernal-tabs {
    padding: 10px;
    align-items: center;
}
.gernal-tabs li h2 {
    font-size: 14px;
}

.gernal-tabs li {
    width: 30%;
}

.gernal-tabs li h3 {
    word-break: break-all;
    font-size: 15px;
}

.seting-tabs .nav-tabs .nav-item {
    margin-right: 5px;
}

.seting-tabs .nav-tabs .nav-item .nav-link {
    font-size: 12px;
}
.login-form-fr {
    width: 100%;
    padding: 30px 15px;
    margin-top: 0;
}

button.btn.btn-default.loginbt {
    padding: 10px 44px;
}
.login-form-fr h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form-fr .form-group input {
    height: 40px;
}

}	

@media only screen and (min-width: 768px) and (max-width: 1024px) {.star-living h2 {    font-size: 25px;}	.chat-user-img img {     width: 50%;}
.popular-course .slick-dots {
    bottom: -47px;
}	.hear-button a button {    padding: 14px 18px;}

.contact-detals-view ul h3 {
    font-size: 14px;
}	
.seting-tabs .nav-tabs .nav-item .nav-link {
    font-size: 16px;
}

.gernal-tabs li h3 {
    font-size: 15px;
}

.gernal-tabs li h2 {
    font-size: 15px;
}	
.chat-user-profile h4 {
    font-size: 15px;
}

.about-chat-user p {
    font-size: 14px;
}

.review-details p {
    font-size: 14px;
}

.review-details h4 {
    font-size: 16px;
}

.chat-profile h3.title {
    font-size: 16px;
}

.chat-date {
    font-size: 14px;
    padding: 15px 0px;
}	
nav.navbar.navbar-expand-lg.navbar-light.bg-light.nav-transparent {
    background-color: #0b415a !important;
}
.navbar-light .navbar-nav .nav-link {
    text-align: left;
}		
.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menu.png);
    width: 22px;
    background-size: 100%;
    height: 22px;
}
.navbar-light .navbar-toggler {
    background-color: #0b415a;
}	
.navbar-light .navbar-nav .nav-link {
    padding-left: 0;
    font-size: 16px;
    line-height: 17px;
}

a.nav-link.talant-btt {
    padding-left: 10px !important;
}	
/* chat page */
.chat-user-details {
    flex-direction: column;
    justify-content: flex-start;
}

.chat-user-img {
    width: 100%;
}

.chat-user-profile {
    width: 100%;
    margin-top: 20px;
}

.chat-user-profile h2 {
    font-size: 17px;
}
#sidebar {
    width: 40%;
}

#content12 {
    width: calc(100% - 40%);
}

#sidebar.active {
    margin-left: -40%;
}

.sidebar-btn .btn-info {
    height: 50px;
    width: 30px;
    font-size: 20px;
}

.sent_msg p, .received_withd_msg p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px;
}

.incoming_msg_img {
    width: 45px;
}

.incoming_msg_img img {
    width: 45px;
    height: 45px;
}

.mesgs {
    height: calc(100vh - 125px);
}

.chatting-page {
    height: calc(100vh - 65px);
}

.outgoing_msg .sent_msg, .received_withd_msg {
    padding: 5px 10px;
    width: 250px;
}

.outgoing_msg .sent_msg {
    margin-right: 7px;
}

.received_msg {
    padding: 0 0 0 7px;
}

.chat-time-detail p {
    margin-bottom: 0;
}

.type_msg {
    padding: 0 15px;
}

.input_msg_write input {
    font-size: 15px;
}

.chat-user-statics .raiting .fa {
    font-size: 9px;
    padding: 0;
}

.chat-user-img .brand-logo img {
    width: 68px;
}

.user-hired-btn {
    font-size: 10px;
    width: 90px;
    padding: 0;
    height: 27px;
}

a.full-profile-btn {
    font-size: 10px;
}
/* chat page */	
/*************about-us**********/	
.business-banner {
    padding-top: 0;
    padding: 50px 0px;
}

.business-banner h2 {
    font-size: 25px;
    margin-bottom: 12px;
    line-height: 40px;
}
.custom-bulit {
    padding: 50px 0px;
}

.business-banner p {
    font-size: 16px;
    line-height: 24px;
}
.business-banner p br {
    display: none;
}

.header:before {
    width: 600px;
    height: 400px;
}

.about-tabs .nav-tabs .nav-link {
    font-size: 14px;
    padding: 16px 15px;
}

.about-list-taab h2 {
    padding-top: 0;
    font-size: 30px;
}

.about-list-taab p {
    font-size: 14px;
    line-height: 28px;
}

.container-fluid {
    padding: 0 40px;
}

.about-list-taab {
    padding: 50px 0px;
    padding-bottom: 20px;
}

.row.involis-project {
    margin: 0;
}

.high-perfomance {
    margin: 50px 0px;
    margin-bottom: 30px;
}

.teams-list p {
    font-size: 16px;
    line-height: 26px;
}

.teams-list h3 {
    font-size: 16px;
}

.our-culture {
    padding: 50px 0px;
}

.our-culture h2 {
    font-size: 40px;
    line-height: 40px;
}

.our-culture p {
    font-size: 16px;
    line-height: 26px;
}

.our-culture p br {
    display: none;
}

.nav-tabs .nav-link {
    padding: 22px 30px;
    font-size: 16px;
}

.form-tabs {
    width: 672px;
}

.testmonial-bg {
    margin-top: 50px;
    padding-bottom: 30px;
}

.test-box {
    max-width: 217px;
}

.test-box p {
    font-size: 14px;
    margin-bottom: 20px;
	line-height:24px;
}

.mc-nallay h3 {
    font-size: 14px;
}

.mc-nallay h4 {
    font-size: 14px;
}

.try-today {
    padding-top: 50px;
}

h2.try-title {
    margin-bottom: 30px;
    font-size: 30px;
}
.clients-forms p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 26px;
}

.clients-forms .form-group input {
    font-size: 16px;
}

.clients-forms {
    padding: 40px;
}

.find-expert {
    padding: 50px 0px;
}

.find-expert h2 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 42px;
}

.find-expert p {
    font-size: 16px;
    margin-bottom: 20px;
}

.find-expert p br {
    display: none;
}

.find-expert h4 {
    margin-top: 30px;
}

.testmonial-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.testmonial-title ul h4 {
    font-size: 12px;
}

.testmonial-title ul li h3 {
    font-size: 14px;
}

.testmonial {
    margin-top: 30px;
}

.Justzoom-Developers {
    margin: 50px 0px;
}

h2.just-title {
    font-size: 20px;
}

.Justzoom-Developers ul li h3 {
    font-size: 16px;
    line-height: 30px;
}

.footer {
    padding-top: 50px;
}

.footer img {
    width: 100%;
}

.footer h4 {
    font-size: 10px;
}

a.now-btt {
    padding: 10px 6px;
    font-size: 13px;
}

.footer h2 {
    font-size: 18px;
}

.footer-link li a {
    font-size: 16px;
    line-height: 30px;
}

ul.social-link {
    margin-top: 50px;
}

.copy-right p {
    font-size: 15px;
}

.copy-right {
    margin-top: 30px;
    padding: 20px 0px;
}

.bg-light {
    padding: 10px 30px;
}
/**********blog*********/
.blog-bg:before {
    right: 0;
    height: 235px;
}

.blog-bg {
    padding: 50px 0px;
}

.blog-bg h2 {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 40px;
}

.blog-bg p {
    font-size: 16px;
    line-height: 26px;
}

.blog-bg p br {
    display: none;
}

.blog-listing {
    padding: 50px 0px;
    padding-bottom: 0px;
}

.blog-box h3 {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 20px;
}

.blog-box h3 br {
    display: none;
}

.blog-box a {
    font-size: 16px;
}

.blog-img h2 {
    font-size: 18px;
}

.blog-box {
    margin-bottom: 40px;
}

.pagination-list {
    margin-top: 0;
}
/*********Blog-detail**********/	
.blog-banner {
    padding: 50px 0px;
    margin-top: 80px;
    padding-bottom: 30px;
}

.blog-banner h3 {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}

.blog-banner h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.blog-content {
    padding: 50px 0px;
    padding-bottom: 0;
}

.blog-content p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 26px;
}

.blog-content h2 {
    margin-bottom: 20px;
    font-size: 15px;
}

button.btn.btn-secondary.back-button {
    margin-top: 50px;
}

/**********clients******/
.Benefits {
    padding-top: 50px;
    padding-bottom: 50px;
}

.Benefits h2 {
    font-size: 25px;
    line-height: 41px;
}

.Benefits p {
    font-size: 16px;
    line-height: 32px;
}

.Benefits ul li h3 {
    font-size: 16px;
    line-height: 26px;
}

.row.benifit-2 {
    margin-top: 100px;
}

.phone-img img {
    width: 100%;
}
/***********contact***********/
.contact-bg {
    padding: 50px 0px;
    margin-top: 35px;
}

.contact-bg h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 50px;
}

.Are-you-client h3 {
    font-size: 20px;
    line-height: 40px;
}

.Are-you-client p {
    font-size: 16px;
    line-height: 26px;
	margin-bottom: 0;
}
.Are-you-client p br {
    display:none;
}

.Are-you-client button {
    margin-top: 20px;
}

.have-account {
    margin: 10px 0px;
}

.have-account h2 {
    font-size: 20px;
}
/**********create-account*******/
.Lets-Talk-page {
    padding: 30px 0px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2.lets-talk-title {
    font-size: 30px;
    padding-bottom: 20px;
    line-height: 50px;
}
/*********Enterprise**********/
.custom-bulit h2 {
    font-size: 25px;
}

.custom-bulit p {
    font-size: 16px;
    line-height: 26px;
}

.title h2 {
    font-size: 25px;
    line-height: 40px;
}

.title p {
    font-size: 18px;
}

.sign-button {
    padding-top: 50px;
}

.sign-button p {
    font-size: 20px;
}
/************hire-adrien**********/
.hire-adrien-page {
    padding: 50px 0px;
    margin-top: 40px;
}
.breadcrumb-nav .title h2 {
    font-size: 25px;
    margin: 0;
}

.breadcrumb-nav {
    padding: 10px 0px;
}

.hire-profile-section {
    margin-left: 0px;
}

.hire-adrien-form {
    padding: 20px 0px;
}
.hire-profile .hire-user-img {
    padding-right: 20px;
}
.hire-adrien-form button.btn.btn-continue {
    height: 40px;
}

.hire-adrien-form .form-group {
    margin-bottom: 20px;
}

.hire-adrien-form label {
    font-size: 16px;
}

.hire-adrien-form textarea.form-control {
    height: 80px;
}

.hire-adrien-form .commitment-radio .custom-radio {
    width: 48%;
}

.hire-profile h2 {
    font-size: 10px;
}

.hire-profile h4 {
    font-size: 12px;
}

.checked {
    font-size: 9px;
}

.hired-price {
    font-size: 17px;
}

.hired-totl-price h3 {
    font-size: 16px;
}
/*********hiretoptelent**********/
.hiretoptelent-page {
    padding: 50px 0px;
}

.hiretoptelent-bg {
    padding: 30px 20px;
    margin-top: 60px;
}

.you-interest h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.you-interest h3 {
    font-size: 17px;
    margin-bottom: 20px;
}

.surch-form input {
    height: 45px;
    font-size: 16px;
}
button.btn.btn-primary.join-btt {
    padding: 12px 82px;
    margin-top: 25px;
    font-size: 14px;
}

.surch-form span {
    top: 11px;
}

.you-interest {
    padding-bottom: 50px;
}

.Finance-listing li h3 {
    font-size: 14px;
    line-height: 21px;
}
/*************howitworks***********/
.business-banner h2 br {
    display: none;
}

.how-it-work:after {
    background-image: unset;
}

.join-img img {
    width: 100%;
}

.client-tabs .row {
    padding: 30px 0px;
}

.client-tabs h2 {
    font-size: 25px;
    line-height: 40px;
}

.client-tabs p {
    font-size: 16px;
    line-height: 26px;
}

.client-tabs ul li h3 {
    font-size: 16px;
    line-height: 26px;
}

.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 16px;
}
/*********index********/
.banner:before {
    width: 600px;
    height: 500px;
    top: 0;
    right: 0;
}

.banner {
    padding-top: 50px;
}

.banner h2 {
    font-size: 27px;
    line-height: 36px;
}

.banner h2 br {
    display: none;
}

.banner p {
    font-size: 16px;
    line-height: 25px;
}
.hear-button {
    margin-top: 20px;
}

.logo-list {
    padding: 17px 0px;
}

.logo-list ul li img {
    width: 100%;
}

.logo-list ul li {
    margin: 0 10px;
}

.logo-list ul li h2 {
    font-size: 14px;
    line-height: 20px;
}

.we-talent h3 {
    font-size: 25px;
}

.we-talent p {
    font-size: 15px;
}
.we-talent a {
    font-size: 18px;
}
.slide-tex h2{
	font-size:16px;
}

.client-gallrey {
    margin-top: 50px;
    padding: 50px 20px;
}

.slide-box {    max-width: 95%;    margin: 10px;}

.slide-box img {
    width: 100%;
}

button.btn.btn-secondary.diceover-btt {
    margin-top: 50px;
    font-size: 16px;
    padding: 15px 50px;
}

.connect-demand .col-md-6 {
    padding: 50px 50px !important;
}

.connect-demand h2 {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 20px;
}

.connect-demand p {
    font-size: 17px;
    line-height: 24px;
}

.connect-demand ul li h3 {
    font-size: 16px;
    line-height: 27px;
}

button.btn.btn-secondary.Get-Started {
    margin-top: 30px;
}

ul.Designers-list li {
    margin-bottom: 30px;
}

ul.Designers-list li:before {
    width: 85px;
}

.get-banner {
    width: 250px !important;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
	    padding-top: 22px;
}
.get-banner h5 {
    font-size: 15px;
    margin-top: 20px;
}

.get-banner h6 {
    font-size: 13px;
    margin-top: 15px;
}
.curcle-banner .slick-dots li button:before {
    width: 30px;
}

.curcle-banner .slick-dots li.slick-active button:before {
    width: 48px !important;
}

.curcle-banner .slick-dots {
    left: -45px;
    top: 113px;
}
.clients-forms h4 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 50px;
}

.connect-demand h2 br {
    display: none;
}

.hare-left h2 {
    font-size: 25px;
    line-height: 37px;
    margin-bottom: 20px;
}

.hare-left p {
    font-size: 16px;
}

button.btn.btn-secondary.green-bttt {
    padding: 12px 30px;
    font-size: 12px;
}

.hare-left h4 {
    padding-left: 13px;
}

.crwford-bg ul li {
    width: 43%;
}

.crwford-bg ul li img {
    width: 100%;
}

.crwford-box h3 span img {
    width: auto;
}

.crwford-box h2 {
    font-size: 12px;
}

.crwford-box h3 {
    font-size: 12px;
}

.crwford-box h4 {
    font-size: 12px;
}

.crwford-box {
    padding: 10px;
}

.demand-talent:before {
    height: 500px;
    width: 600px;
    background-size: contain;
}

.demand-talent {
    padding-top: 50px;
    margin-top: 50px;
}

.demand-talent h2 {
    font-size: 30px;
    line-height: 38px;
}

.demand-talent p {
    font-size: 20px;
    margin-bottom: 30px;
}

.demand-talent p br {
    display: none;
}

.clinet-say {
    padding: 25px 50px;
}

.clinet-say ul li h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.clinet-say ul li h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.clinet-say ul li a {
    font-size: 16px;
}
/************Profile_V2***********/
.profile-page {
    margin-top: 60px;
}
.profile-adrien {
    padding-left: 50px;
}

.profile-img img {
    width: 100%;
}

.profile-tabs {
    padding-right: 50px;
}

.profile-tabs .nav-tabs .nav-link {
    font-size: 12px;
    padding: 20px 5px;
}

.tabs-rate p {
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 24px;
}
.left-aero {
    padding-bottom: 20px;
}

.downlod-pdf {
    margin-bottom: 20px;
}

.tabs-rate h2 {
    font-size: 16px;
    margin-bottom: 10px;
}
.tabs-rate {
    padding-top: 20px;
}
.review-allira h4 {
    font-size: 12px;
}
.Experience-lsit ul li h3 {
    font-size: 15px;
}

.projects-text h3 {
    font-size: 15px;
}

.about-info-t h3 {
    font-size: 15px;
}

.Projects-rate-list li {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Projects-rate-list li h3 {
    font-size: 17px;
}

.Projects-rate-list li h4 {
    font-size: 14px;
    margin: 0;
}

.hire-box {
    padding: 15px 8px;
    margin-top: 30px;
}

.hire-box h2 {
    font-size: 14px;
}

.hire-box button.btn.btn-info.her-btt {
    padding: 12px 5px;
    font-size: 12px;
    width: 124px;
}

.Experience-lsit {
    margin-top: 30px;
}

.portfolio-img {
    margin-top: 30px;
}

.portfolio-img ul {
    margin-bottom: 30px;
}

.projects-text {
    margin-bottom: 20px;
}

.skill-list ul li a {
    padding: 7px 4px;
    font-size: 9px;
}

.profile-img h2 {
    font-size: 18px;
}
.left-aero img {
    width: auto;
}
.profile-img h3 {
    font-size: 16px;
}

.star--list img {
    width: auto;
}

.verifi-button h4 b {
    font-size: 20px;
}

.intro-video img {
    width: 46%;
}
/************profile-listing*******/
profile-listing-section .chat-user-img {}

.profile-listing-section .chat-user-img img {
    width: 148px;
}

.chat-user-statics ul li.profile-name h2 {
    font-size: 11px;
}

.chat-user-statics ul li h3 {
    font-size: 18px;
}

.chat-user-statics ul li p {
    font-size: 8px;
}

.chat-user-statics.profile-info ul li.profile-name {
    width: 20%;
}

.chat-user-statics.profile-info ul li {
    width: 16%;
}

.chat-user-statics ul li.profile-name h4 {
    font-size: 11px;
}

.review-area p {
    font-size: 10px;
}

.quote-btn {
    font-size: 16px;
}
.review-area h5 {
    font-size: 12px;
}

.iconic-heading .heading h2 {
    font-size: 30px;
}

.profile-listing-page {
    padding: 50px 0px;
	margin-top: 40px;
}
/************success******/
.Payment-Succesfull {
    padding-top: 50px;
    padding-bottom: 80px;
	margin-top: 40px
}

.Succesfull-bg {
    padding: 50px;
}

.Succesfull-bg h2 {
    font-size: 25px;
}

.Succesfull-bg p {
    font-size: 16px;
}

.Succesfull-bg img {
    width: 70px;
}
/**********webdesign-requirement**********/	
.webdesign-page {
    padding: 50px 0px;
	    margin-top: 40px;
}

.radio-buttons {
    margin-top: 30px;
}
.sero-icon span {
    font-size: 20px;
}

.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.radio-buttons .rdio label {
    font-size: 16px;
    width: 89.8%;
}
.radio-buttons .rdio label:before {
    top: 13px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 17px;
}

.Continue-btt button.btn.btn-primary.join-btt {
    margin-right: 0px;
}

.design-requirement {
    padding-bottom: 50px;
}
/************why*******/
.why-banner .business-banner {
    padding-top: 50px;
    padding-bottom: 50px;
}

.why-banner .business-banner h2 {
    padding-top: 0;
}

.Clients-post {
    padding-top: 31px;
    padding-left: 38px;
}

.Clients-post h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.Clients-post-text p {
    font-size: 16px;
}

.Clients-post ul li {
    margin-bottom: 40px;
}

.Clients-post-text h3 {
    font-size: 14px;
}

.tabs-img img {
    width: 100%;
}	
/************Client-Dashboard*********/
ul.deshbord-list {
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.desh-text h4 {
    font-size: 13px;
}

.desh-text h5 {
    font-size: 18px;
    margin: 0;
}

h2.opeing-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.view-profile-btn {font-size: 13px;}

.contact-btn {
    font-size: 13px;
}

ul.deshbord-list li {
    width: 48%;
    margin-bottom: 10px;
    padding: 15px;
}

.wirter-hire .hire-profile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.view-img-con a {
    font-size: 14px;
}

.view-img-con {
    padding-left: 10px;
}

button.btn.btn-link.bcontact-button {
    padding: 8px 16px;
    font-size: 12px;
}

.wirter-hire p {
    font-size: 16px;
}

.hire-web h6 {
    font-size: 18px;
}
.hire-user-profile {
    margin-left: 0;
}
.hire-web h3 {
    margin-bottom: 15px;
}

.post-table {
    margin-top: 50px;
}

.table th h4 {
    font-size: 12px;
}

.table td p {
    font-size: 12px;
}

.post-text h3 {
    font-size: 13px;
}

.client-page {
    padding-bottom: 50px;
}
.contacts-button button.btn.btn-success {
    font-size: 14px;
    padding: 12px 0px;
}

.deshbord-footer p {
    font-size: 13px;
}
/**********Freelancer-Payment********/
.row.payment-flex .col-md-6 {
    max-width: 100%;
    flex: 100%;
    margin-bottom: 20px;
}
/********Freelancer-Dashboard******/
.chat-user-statics.profile-info h3 {
    font-size: 12px;
}

button.btn.btn-warning.Progress-yulo {
    font-size: 9px;
}

.chat-user-statics.profile-info ul li .raiting {
    margin-bottom: 0;
}
.wirter-hire p {
    font-size: 16px;
}

button.btn.btn-warning.Progress-yulo {
    font-size: 9px;
}
/******Freelancer-Contract*****/
.deshbord-list.freelance-openig li img {
    width: 40px;
}

.client-page {
    margin-top: 50px;
}
.contact-detals-view ul h2 {
    width: 85px;
    font-size: 14px;
}
.contact-detals-view h5 {
    font-size: 18px;
}
/*********edit-profile*************/

.edit-title {
    margin-bottom: 20px;
}

.profile-form .form-group label {
    font-size: 15px;
}

.profile-form .form-group input {
    height: 40px;
    font-size: 14px;
}

.profile-form .form-group textarea {
    font-size: 14px;
    height: 130px;
}

.profile-form .form-group select {
    height: 40px;
    font-size: 15px;
}

.image-upload h2 {
    font-size: 15px;
    padding: 15px 0;
}

.profile-form h4 {
    font-size: 18px;
}

.add-exprens {
    margin-bottom: 15px;
}

.form-cncle-button button {
    padding: 10px 50px;
}

.circle strong {
    font-size: 30px;
}

.completion-bg h3 {
    font-size: 16px;
}

.circle strong span {
    font-size: 17px;
}

.completion-bg ul li h4 {
    font-size: 15px;
}

.completion-bg {
    padding-bottom: 10px;
}
.hourlay-input input {
    width: 222px;
}
.row.profile-information .col-md-7 {
    max-width: 100%;
    flex: 100%;
}

.row.profile-information .col-md-5 {
    max-width: 100%;
    flex: 100%;
    margin-top: 20px;
}
.edit-title h2 {
    font-size: 25px;
    line-height: 40px;
    margin: 0;
}

.edit-title h3 {
    font-size: 16px;
}

.profile-information {
    padding: 30px;
}

.edit-profile-page {
    padding-bottom: 50px;
	    margin-top: 40px;
}
.login-form {
    width: 100%;
    padding: 20px;
}

.login-page {
    padding: 50px 0px;
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
/*******Payment-request*********/
.resaled-btt button {
    padding: 10px 10px;
}

.admin-bg p {
    font-size: 15px;
    line-height: 24px;
}
.sheman-hr h4 {
    font-size: 16px;
}
.admin-bg p {
    font-size: 16px;
}

.deshbord-title h2 {
    font-size: 25px;
}
.deshbord-list li img {
    width: 35px;
}
.setting-page {
    margin-top: 40px;
    padding-bottom: 50px;
}
.about-logo img {
    width: 58%;
}

.about-logo {
    padding-bottom: 50px;
}

.business-banner.about-bgg {    padding-top: 110px;    padding-bottom: 144px;}
.login-form-fr h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form-fr .form-group input {
    height: 40px;
}

button.btn.btn-default.loginbt {
    font-size: 15px;
    margin-top: 20px;
}
.Total-Earning h5 {
    font-size: 25px;
}

.Total-Earning h4 {
    font-size: 16px;
}

.Total-Earning h5 {
    font-size: 16px;
}

ul.week-list {
    margin-top: 30px;
}
.hire-adrien-section {
    padding: 10px 30px;
}

.hire-adrien-form .form-control {
    height: 40px;
}
.payment-heading h3 {
    font-size: 18px;
}

.payment-notes h6 {
    font-size: 13px;
}
.hire-adrien-form .input-file {
    right: 0;
}

.hired-totl-price {
    padding: 20px 15px 10px;
}

.hire-adrien-form .commitment-radio label {
    font-size: 16px;
}

}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
.navbar-light .navbar-brand img {
    width: 73%;
}.profile-page {    margin-top: 80px;}
.profile-information {
    margin-top: 50px;
}
.hourlay-input input {
    width: 343px;
}

.client-page {
    margin-top: 83px;
}
.setting-page {
    margin-top: 71px;
}	
.hire-adrien-section {
    margin-top: 50px;
}
.navbar-light .navbar-brand {
    width: 19%;
    margin-right: 27px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding: 6px 8px;
}

.test-box {
    max-width: 281px;
}	
	
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {.slider-bbbbb {    height: 150px;}	
.seting-tabs .nav-tabs .nav-item .nav-link {
    font-size: 16px;
}

.gernal-tabs li h3 {
    font-size: 15px;
}

.gernal-tabs li h2 {
    font-size: 15px;
}	
.deshbord-title h2 {
    font-size: 30px;
}

.hire-web h3 {
    margin-bottom: 20px;
}

.wirter-hire p {
    font-size: 16px;
}

.hire-web h6 {
    font-size: 20px;
}	
.testmonial-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.test-box p {
    font-size: 16px;
    margin-bottom: 30px;
}

.mc-nallay h3 {
    font-size: 14px;
}

.mc-nallay h4 {
    font-size: 14px;
}

h2.try-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.clients-forms {
    padding: 40px;
}

.clients-forms .form-group input {
    font-size: 18px;
}	
.clients-forms h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}	
/********chating********/	
.chat-user-profile h2 {
    font-size: 14px;
}

.chat-user-profile h2 span {
    width: 70px;
    font-size: 12px;
}

.chat-user-profile h4 {
    font-size: 12px;
    margin-bottom: 5px;
}
h4.active-time {
    margin-top: 10px;
}
.user-hired-btn {
    width: 97px;
    font-size: 10px;
    height: 40px;
}

.full-profile-btn {
    font-size: 12px;
    margin-left: 13px;
}

.about-chat-user p {
    font-size: 14px;
}

.sent_msg p, .received_withd_msg p {
    font-size: 16px;
}
/*********about-us*******/	
.header:before {
    width: 800px;
    height: 700px;
    background-size: contain;
}

.business-banner {
    padding: 50px 0px;
}

.business-banner h2 {
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 22px;
}
.business-banner h2 br {
    display: none;
}
.business-banner p {
    font-size: 16px;
    line-height: 26px;
}

.bg-light {
    padding: 10px 50px;
}

.navbar-light .navbar-brand img {
    width: 154px;
}

.navbar-light .navbar-nav .nav-link {font-size: 14px;padding: 10px 6px;}

.navbar-light .navbar-brand {
    margin-right: 20px;
}

.about-tabs .nav-tabs .nav-link {
    font-size: 12px;
}

.about-list-taab h2 {
    padding-top: 30px;
    font-size: 40px;
}

.about-list-taab p {
    font-size: 16px;
}

.about-list-taab {
    padding: 50px 0px;
}

.high-perfomance {
    margin: 50px 0px;
}

.row.involis-project {
    margin-top: 0;
}

.our-culture {
    padding: 50px 0px;
}

.our-culture h2 {
    font-size: 40px;
}

.our-culture p {
    font-size: 20px;
}

.find-expert {
    padding: 50px 0px;
}

.find-expert h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.find-expert p {
    font-size: 18px;
    margin-bottom: 20px;
}

.testmonial-bg {
    margin-top: 50px;
    padding-bottom: 50px;
}

.test-box {
    max-width: 299px;
}

.try-today {
    padding-top: 50px;
}

.Justzoom-Developers {
    margin: 50px 0px;
}

.Justzoom-Developers ul li h3 {
    font-size: 16px;
}

.footer img {
    width: 100%;
}

.footer h4 {
    font-size: 15px;
}

.footer h2 {
    font-size: 20px;
}

.footer-link li a {
    font-size: 16px;
    line-height: 32px;
}

.copy-right {
    margin-top: 50px;
}

a.now-btt {
    padding: 10px;
    font-size: 14px;
}

ul.social-link {
    margin-top: 50px;
}
/************blog*********/
.blog-bg:before {
    right: 113px;
    height: 252px;
}

.blog-bg {
    padding: 50px 0px;
}

.blog-bg h2 {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 30px;
}

.blog-bg p {
    font-size: 20px;
    line-height: 32px;
}

.blog-bg p br {
    display: none;
}

.blog-box h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.pagination-list {
    margin-top: 0;
}

.blog-img h2 {
    font-size: 18px;
}

.blog-box a {
    font-size: 18px;
}

.blog-box {
    margin-bottom: 40px;
}

.blog-listing {
    padding-top: 50px;
    padding-bottom: 0px;
}

/*************Blog-detail*********/
.blog-banner {
    padding: 50px 0px;
    margin-top: 80px;
}

.blog-banner h3 {
    font-size: 25px;
    line-height: 40px;
}

.blog-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-content p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 27px;
}

.blog-content h2 {
    font-size: 14px;
    margin-bottom: 20px;
}

button.btn.btn-secondary.back-button {
    margin-top: 30px;
}

/*************clients***********/
.Benefits {
    padding-top: 50px;
    padding-bottom: 50px;
}

.Benefits h2 {
    font-size: 30px;
    line-height: 50px;
}
.Benefits h2 br {
    display: none;
}
.Benefits p {
    font-size: 16px;
    line-height: 26px;
}

.Benefits ul li h3 {
    font-size: 16px;
    line-height: 30px;
}

.row.benifit-2 {
    margin-top: 150px;
}

.phone-img img {
    width: 100%;
}
/*********contact*********/
.contact-bg {
    padding: 50px 0px;
    margin-top: 60px;
}

.contact-bg h2 {
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 40px;
}

.Are-you-client h3 {
    font-size: 25px;
    line-height: 40px;
}

.Are-you-client p {
    font-size: 16px;
    line-height: 27px;
}

.Are-you-client p br {
    display: none;
}

.Are-you-client button {
    margin-top: 10px;
}

.have-account {
    margin: 20px 0px;
}

.have-account h2 {
    font-size: 25px;
}

/***********create-account***********/
.Lets-Talk-page {
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}

h2.lets-talk-title {
    font-size: 30px;
    padding-bottom: 20px;
}

.clients-forms p {
    margin-bottom: 30px;
	font-size:18px;
}
/*********Enterprise******/
.custom-bulit h2 {
    font-size: 30px;
}

.custom-bulit p {
    font-size: 16px;
}
.custom-bulit p br {
    display:none;
}
.custom-bulit {
    padding: 50px 0px;
}

.title h2 {
    font-size: 30px;
}

.title p {
    font-size: 20px;
}

.teams-list p {
    font-size: 16px;
    line-height: 32px;
}
.teams-list h3 {
    font-size: 18px;
}
.sign-button {
    padding-top: 40px;
}

.sign-button p {
    font-size: 20px;
}
/*********hire-adrien*******/
.breadcrumb-nav .title h2 {
    font-size: 30px;
}
.payment-heading h3 {
    font-size: 20px;
}
.hire-profile-section {
    margin-left: 50px;
}

.hire-profile h2 {
    font-size: 16px;
}

.hired-totl-price h3 {
    font-size: 18px;
}
.breadcrumb-nav {
    padding: 10px 0px;
}

.hire-adrien-form {
    padding: 30px 0px;
}

.hire-adrien-form .form-control {
    height: 40px;
}

.hire-adrien-form textarea.form-control {
    height: 80px;
}

.hire-adrien-form .input-file {
    right: 0;
}

.hire-adrien-form label {
    font-size: 16px;
}

.hire-adrien-form .form-group {
    margin-bottom: 15px;
}
/*********hiretoptelent********/
.hiretoptelent-page {
    padding: 50px 0px;
}

.hiretoptelent-bg {
    padding: 50px 50px;
    margin-top: 60px;
}

.you-interest h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.you-interest {
    padding-bottom: 50px;
}
.you-interest h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.surch-form input {
    height: 50px;
}

.Finance-listing li h3 {
    font-size: 15px;
}

h2.just-title {
    font-size: 20px;
    margin-bottom: 20px;
}
/************howitworks*******/
.join-img img {
    width: 100%;
}

.how-it-work:after {
    background-image: unset;
}

.client-tabs h2 {
    font-size: 30px;
    line-height: 40px;
}

.client-tabs p {
    font-size: 18px;
}

.client-tabs ul li h3 {
    font-size: 18px;
    line-height: 32px;
}

.client-tabs {
    padding-top: 0;
}
/*************index********/
.banner {
    padding-top: 40px;
}

.banner h2 {
    font-size: 30px;
    line-height: 50px;
}

.banner h2 br {
    display: none;
}

.banner p {
    font-size: 16px;
    line-height: 26px;
}

.hear-button {
    margin-top: 30px;
}

.banner:before {
    width: 590px;
    height: 712px;
    background-size: contain;
    top: -156px;
}

.container-fluid {
    padding: 0 50px;
}

.logo-list ul li img {
    width: 100%;
}

.logo-list ul li {
    margin: 0 10px;
}

.logo-list ul li h2 {
    font-size: 12px;
}

.logo-list {
    padding: 30px 0px;
}

.we-talent h3 {
    font-size: 30px;
}

.we-talent p {
    font-size: 16px;
}


.we-talent a {
    font-size: 20px;
}

.client-gallrey {
    margin-top: 50px;
    padding: 50px 20px;
}

.slide-box {
    max-width: 133px;
}

.slide-box img {
    width: 100%;
}

.slide-tex h2 {
    font-size: 11px;
}

.slide-tex p {
    font-size: 9px;
}

.slide-tex p span img {
    width: auto;
}

button.btn.btn-secondary.diceover-btt {
    margin-top: 30px;
    font-size: 18px;
    padding: 15px 30px;
}

.connect-demand h2 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
}

.connect-demand .col-md-6 {
    padding: 50px 50px !important;
}

.connect-demand p {
    font-size: 16px;
}

.connect-demand ul li h3 {
    font-size: 16px;
    line-height: 32px;
}

ul.Designers-list li:before {
    width: 103px;
}

button.btn.btn-secondary.Get-Started {
    margin-top: 50px;
}

ul.Designers-list li {
    margin-bottom: 50px;
}

.get-banner {
    width: 327px !important;
    height: 327px;
    background-size: 100%;
    padding-top: 46px
}
.curcle-banner .slick-dots {
    bottom: 115px;
    left: -49px;
}

.get-banner h6 {
    margin-top: 20px;
    font-size: 16px;
}

.get-banner h5 {
    font-size: 18px;
    margin-top: 20px;
}

.hare-left h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.hare-left p {
    font-size: 17px;
    margin-bottom: 40px;
}

.crwford-bg ul li {
    width: 45%;
}

.crwford-bg ul li img {
    width: 100%;
}

.crwford-box h3 span span {
    width: auto;
}

.crwford-box h3 span img {
    width: auto;
}

.crwford-box h2 {
    font-size: 15px;
}

.crwford-box h4 {
    font-size: 13px;
}

.demand-talent:before {
    width: 800px;
    height: 700px;
    background-size: contain;
}

.demand-talent {
    padding-top: 50px;
}

.demand-talent h2 {
    font-size: 30px;
    line-height: 40px;
}

.demand-talent p {
    font-size: 16px;
    margin-bottom: 50px;
}

.clinet-say {
    padding: 30px 28px;
}

.clinet-say ul li h4 {
    font-size: 18px;
}
.clinet-say ul li h3 {
    font-size: 16px;
}

.clinet-say ul li a {
    font-size: 18px;
}
/********Profile_V2********/
.profile-page {
    margin-top: 90px;
}	
.profile-adrien {
    padding-left: 50px;
}

.profile-tabs {
    padding-right: 50px;
    padding-top: 50px;
}

.profile-tabs .nav-tabs .nav-link {
    font-size: 16px;
    padding: 20px 10px;
}

.tabs-rate p {
    font-size: 16px;
    margin-bottom: 20px;
}

.tabs-rate h2 {
    font-size: 20px;
}

.Projects-rate-list li {
    padding: 20px;
}

.Projects-rate-list li h3 {
    font-size: 22px;
}

.Projects-rate-list li h4 {
    font-size: 16px;
}

.hire-box button.btn.btn-info.her-btt {
    padding: 10px 14px;
}

.hire-box {
    margin-top: 30px;
    padding: 20px 0px;
}

.Experience-lsit {
    margin-top: 40px;
}

.portfolio-img {
    margin-top: 40px;
}

.projects-text {
    margin-bottom: 20px;
}
.contacts-button button.btn.btn-success {
    padding: 12px 0px;
}
.left-aero {
    padding-bottom: 20px;
    padding-top: 20px;
}

.skill-list ul li a {
   padding: 7px 8px;
}

.profile-img h2 {
    font-size: 20px;
}
/********profile-listing********/
.chat-user-statics ul li.profile-name h2 {
    font-size: 17px;
}

.chat-user-statics ul li h3 {
    font-size: 18px;
}

.chat-user-statics ul li p {
    font-size: 13px;
}

.chat-user-statics.profile-info ul li {
    width: 18%;
}

.raiting .checked {
    font-size: 9px;
}

.review-area p {
    font-size: 12px;
    margin-bottom: 0;
}

.profile-listing-page {
    padding: 50px 0px;
	margin-top: 40px;
}

.iconic-heading .heading h2 {
    font-size: 30px;
}
/*******success********/
.Payment-Succesfull {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.Succesfull-bg {
    padding: 50px;
}

.Succesfull-bg img {
    width: 80px;
}

.Succesfull-bg h2 {
    font-size: 25px;
}

.Succesfull-bg p {
    font-size: 18px;
}
/*******webdesign-requirement********/
.webdesign-page {
    padding: 50px 0px;
	margin-top: 40px;
}

.radio-buttons {
    margin-top: 50px;
}

.radio-buttons h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

.radio-buttons .rdio label {
    font-size: 16px;
}
.radio-buttons .rdio label:before {
    top: 15px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 19px;
}

.design-requirement {
    padding: 30px;
}
/*********why*******/
.why-banner .business-banner {
    padding: 50px 0px;
}

.why-banner .business-banner h2 {
    padding-top: 50px;
}

.tabs-img img {
    width: 100%;
}

.Clients-post {
    padding-top: 100px;
    padding-left: 50px;
}

.Clients-post h2 {
    font-size: 30px;
}

.Clients-post-text p {
    font-size: 16px;
}
.Clients-post-text h3 {
    font-size: 16px;
}

.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 16px;
}

.Clients-post ul li {
    margin-bottom: 30px;
}
/********Client-Dashboard*********/	
.desh-text h4 {
    font-size: 12px;
}

.desh-text h5 {
    font-size: 20px;
    margin: 0;
}
ul.deshbord-list {
    margin-bottom: 30px;
}

h2.opeing-title {
    margin-bottom: 20px;
}

ul.deshbord-list li img {
    width: 36px;
}

button.btn.btn-link.bcontact-button {
    padding: 8px 15px;
}

.view-img-con {
    padding-left: 20px;
}

.view-img-con a {
    font-size: 14px;
}

.post-table {
    margin-top: 30px;
}

.client-page {
    padding-bottom: 50px;
}	
/***********Freelancer-Payment********/	
.Total-Earning h5 {
    font-size: 18px;
}
.Total-Earning h4 {
    font-size: 16px;
}

ul.account-member li h3 {
    font-size: 12px;
}

ul.account-member li h2 {
    width: 43%;
    font-size: 12px;
    line-height: 22px;
}

.account-info {
    width: 62%;
}
.client-page {
    margin-top: 84px;
}
/*********Freelancer-Contract**********/
button.btn.btn-warning.Progress-yulo {
    font-size: 13px;
}

.chat-user-statics.profile-info h3 {
    font-size: 16px;
}
/*******edit**********/
.edit-title h2 {
    font-size: 30px;
    line-height: 50px;
}

.edit-title h3 {
    font-size: 18px;
}

.profile-information {
    padding: 40px;
}

.login-form {
    padding: 30px;
}

.login-page {
    padding: 100px 0px;
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.hire-adrien-page {
    padding: 50px 0px;
    
}
.setting-page {
    margin-top: 70px;
    padding-bottom: 50px;
}
/***********profile*****/
.edit-profile-page {
    margin-top: 80px;
}

.completion-bg h2 {
    font-size: 20px;
}

.profile-form .form-group label {
    font-size: 16px;
}

.profile-form .form-group input {
    height: 40px;
    font-size: 14px;
}

.profile-form .form-group textarea {
    font-size: 14px;
    height: 144px;
}

.profile-form .form-group select {
    height: 40px;
    font-size: 14px;
}

.image-upload h2 {
    padding: 15px 0;
    font-size: 14px;
}

.profile-form h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.add-exprens {
    margin-bottom: 20px;
}

.add-exprens a {
    font-size: 14px;
}

.form-cncle-button button {
    padding: 10px 50px;
}

.completion-bg ul li h4 {
    font-size: 13px;
}

.circle strong {
    font-size: 25px;
}

.circle strong span {
    font-size: 18px;
}
.about-logo img {
    width: 58%;
}

.about-logo {
    padding-bottom: 50px;
}

.business-banner.about-bgg {    padding-top: 118px;    padding-bottom: 159px;}
.login-form-fr h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form-fr .form-group input {
    height: 40px;
}

button.btn.btn-default.loginbt {
    font-size: 15px;
    margin-top: 20px;
}
.Experience-lsit ul li h3 {
    font-size: 16px;
}

.verifi-button h4 b {
    font-size: 20px;
}

.portfolio-img ul {
    margin-bottom: 50px;
}
.popular-course .slick-dots {
    bottom: -60px;
}

}

@media only screen and (min-width: 1201px) and (max-width: 1365px) {
ul.deshbord-list li img {
    width: 40px;
}
.popular-course .slick-dots {
    bottom: -43px;
}
ul.deshbord-list {
    margin-bottom: 30px;
}

h2.opeing-title {
    margin-bottom: 30px;
}	
.profile-listing-page {
    margin-top: 40px;
}	
.hire-adrien-page {
    padding: 50px 0px;
    
}	
.why-banner .business-banner {
    padding: 50px 0px;
}

.why-banner .business-banner h2 {
    padding-top: 100px;
}
.Clients-post {
    padding-top: 60px;
    padding-left: 80px;
}

.Clients-post-text p {
    font-size: 16px;
}
.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 16px;
}

.Clients-post-text h3 {
    font-size: 16px;
}

.Clients-post ul li {
    margin-bottom: 30px;
}	
.join-img img {
    width: 100%;
}	
#sidebar {
    width: 38%;
}

#content12 {
    width: calc(100% - 38%);
}	
.bg-light {
    padding: 10px 50px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    padding: 5px 6px;
}

.banner {
    padding-top: 80px;
}
.logo-list {
    padding: 20px 50px;
}
.popular-course .slick-slide {
    margin: 12px 10px;
}

.banner h2 {
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;
}

.banner p {
    font-size: 20px;
    line-height: 30px;
}

.banner:before {
    width: 1025px;
    height: 768px;
    right: -338px;
    top: -249px;
    background-size: contain;
    background-repeat: no-repeat;
}

.container-fluid {
    padding: 0 50px;
}
.we-talent h3 {
    font-size: 25px;
    line-height: 40px;
}

.we-talent p {
    font-size: 16px;
}

.we-talent a {
    font-size: 20px;
}

.client-gallrey {
    margin-top: 50px;
    padding: 50px 20px;
}

.slide-box img {
    width: 100%;
}

.slide-tex h2 {
    font-size: 13px;
}

.slide-tex p {
    font-size: 11px;
}

.range-slider {
    margin-top: 50px;
}

button.btn.btn-secondary.diceover-btt {
    padding: 14px 29px;
    font-size: 18px;
    margin-top: 40px;
}

.connect-demand h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.connect-demand p {
    font-size: 16px;
    line-height: 30px;
}

.connect-demand ul li h3 {
    line-height: 30px;
    font-size: 16px;
}
.logo-list ul li img {
    width: 85%;
}

.logo-list ul li h2 {
    margin-right: 20px;
    font-size: 14px;
}
button.btn.btn-secondary.Get-Started {
    margin-top: 50px;
}
.connect-demand .col-md-6 {
    padding: 50px 100px !important;
}

ul.Designers-list li {
    margin-bottom: 50px;
}

ul.Designers-list li:before {
    height: 5px;
	width:100px;
}

ul.Designers-list li h4 {
    font-size: 14px;
}

.get-banner {
        padding-top: 80px;
    width: 415px !important;
    height: 416px;
}

.get-banner h5 {
    font-size: 20px;
}

.get-banner h6 {
    font-size: 18px;
}
.hare-left h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
    margin-top: 155px;
}

.hare-left p {
    font-size: 16px;
}
.crwford-bg ul li:nth-child(2) {
    right: 6px;
}

.crwford-box h2 {
    font-size: 16px;
}

.demand-talent {
    padding-top: 50px;
}

.demand-talent h2 {
    font-size: 30px;
    line-height: 40px;
}
.clinet-say ul li h3 {
    font-size: 16px;
}

.clinet-say ul li h4 {
    font-size: 18px;
}

.clinet-say ul li a {
    font-size: 18px;
}

.demand-talent p {
    font-size: 20px;
    margin-bottom: 50px;
}

.clinet-say {
    padding: 30px 60px;
}

.testmonial-bg {
    margin-top: 50px;
	padding-bottom:50px;
}

.testmonial-title h2 {
    font-size: 30px;
}

.test-box p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}

.mc-nallay h3 {
    font-size: 14px;
}

.mc-nallay h4 {
    font-size: 14px;
}

.try-today {
    padding-top: 50px;
}

h2.try-title {
    font-size: 30px;
}

.clients-forms p {
    font-size: 16px;
    margin-bottom: 40px;
}

.clients-forms {
    padding: 40px;
}

.freelance-dropdown select {
    height: 50px;
}

.clients-forms .form-group input {
    font-size: 16px;
}

.clients-forms .form-group label {
    font-size: 14px;
}

.Justzoom-Developers {
    margin-top: 50px;
	margin-bottom: 50px;
}

.Justzoom-Developers ul li h3 {
    font-size: 16px;
}

h2.just-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.footer {
    padding-top: 50px;
}

.footer h2 {
    font-size: 20px;
}

.footer-link li a {
    font-size: 16px;
}

.footer h4 {
    font-size: 16px;
}



.copy-right {
    margin-top: 50px;
    padding: 20px 0px;
}
/**************about-us.**************/
.business-banner {
    padding-top: 80px;
    padding-bottom: 127px;
}

.business-banner h2 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}

.business-banner p {
    font-size: 20px;
    line-height: 32px;
}

.about-tabs .nav-tabs .nav-link {
    font-size: 16px;
}

.about-list-taab {
    padding: 50px 0px;
}


.about-list-taab h2 {
    font-size: 40px;
    padding-top: 150px;
}

.about-list-taab p {
    font-size: 20px;
    line-height: 30px;
}

.high-perfomance {
    margin: 50px 0px;
}

.our-culture {
    padding: 80px 0px;
}

.our-culture h2 {
    font-size: 40px;
}

.our-culture p {
    font-size: 20px;
    line-height: 30px;
}

.find-expert {
    padding: 50px 0px;
}

.find-expert h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.find-expert p {
    margin-bottom: 30px;
}

.find-expert h4 {
    margin-top: 30px;
}
/**************blog**********/
.blog-bg {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog-bg h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.blog-bg p {
    font-size: 20px;
    line-height: 32px;
}

.blog-box h3 {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 30px;
}
.blog-box {
    margin-bottom: 30px;
}

.blog-listing {
    padding: 50px 0px;
	padding-bottom: 0;
}

.blog-box a {
    font-size: 18px;
}

.blog-img h2 {
    font-size: 20px;
}
.blog-bg:before {
    right: 194px;
    top: -22px;
}
/***********Blog-detail*********/
.blog-banner {
    padding-top: 50px;
}

.blog-banner h3 {
    font-size: 25px;
    margin-bottom: 20px;
    line-height: 40px;
}

.blog-banner h2 {
    margin-bottom: 20px;
}

.blog-content {
    padding: 50px 0px;
    padding-bottom: 0px;
}

.blog-content p {
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-content h2 {
    margin-bottom: 20px;
}

button.btn.btn-secondary.back-button {
    margin-top: 50px;
}
/*********chatting***********/
.chat-user-profile h2 {
    font-size: 18px;
}

.chat-user-img img {
    
    height: 152px;
}
.profile-listing-section .chat-user-img img {
    width: auto;
    height: auto;
}
.chat-user-profile h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.user-hired-btn {
    width: 118px;
    font-size: 13px;
    height: 40px;
}

.chat-user-statics ul li p {
    font-size: 12px;
}

.chat-user-statics ul li h3 {
    font-size: 20px;
}

.checked {
    font-size: 13px;
}

.about-chat-user p {
    font-size: 13px;
}

.review-details p {
    font-size: 13px;
}

.sent_msg p, .received_withd_msg p {
    font-size: 14px;
    margin: 0;
}

.received_withd_msg {
    padding: 10px 20px;
}

h4.active-time {
    margin-top: 10px;
}

.chat-user-profile h2 span {
    width: 90px;
    font-size: 14px;
}

.full-profile-btn {
    font-size: 14px;
}
/***********clients*******/
.Benefits {
    padding: 100px 0px;
}

.Benefits h2 {
    font-size: 30px;
    line-height: 40px;
}
.Benefits p {
    font-size: 16px;
    line-height: 26px;
}
.Benefits ul li h3 {
    font-size: 16px;
    line-height: 30px;
}

.row.benifit-2 {
    margin-top: 150px;
}
/*********contact************/
.contact-bg {
    padding: 50px 0px;
    margin-top: 50px;
}

.contact-bg h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.Are-you-client h3 {
    font-size: 25px;
    line-height: 40px;
}

.Are-you-client p {
    font-size: 20px;
    line-height: 32px;
}

.Are-you-client button {
    margin-top: 20px;
}

.have-account {
    margin: 20px 0px;
}

.have-account h2 {
    font-size: 25px;
}
/************create-account***********/
.Lets-Talk-page {
    padding-top: 80px;
    margin-bottom: 100px;
	    margin-top: 40px;
}

h2.lets-talk-title {
    font-size: 40px;
    padding-bottom: 50px;
    line-height: initial;
}
.Lets-Talk-page .clients-forms {
    max-width: 700px;
}
/********Enterprise********/
.custom-bulit h2 {
    font-size: 30px;
}

.custom-bulit p {
    font-size: 16px;
    line-height: 32px;
}
.custom-bulit {
    padding: 50px 0px;
}

.title h2 {
    font-size: 30px;
}

.title p {
    font-size: 16px;
}

.row.involis-project {
    margin-top: 50px;
}

.teams-list p {
    font-size: 16px;
    line-height: 26px;
}
.teams-list h3 {
    font-size: 18px;
}

.sign-button {
    padding-top: 50px;
}

.sign-button p {
    font-size: 25px;
}
/**********hiretoptelent*******/
.hiretoptelent-page {
    padding: 50px 0px;
}

.hiretoptelent-bg {
    padding: 60px 40px;
    margin-top: 60px;
}

.you-interest h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.you-interest h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.surch-form input {
    height: 50px;
}

.surch-form span {
    top: 14px;
}

.you-interest {
    padding-bottom: 50px;
}

.Finance-listing li h3 {
    font-size: 16px;
    line-height: 26px;
}
/************howitworks*************/
.client-tabs .row {
    padding: 50px 0px;
}
.client-tabs h2 {
    font-size: 30px;
    line-height: 40px;
}

.client-tabs p {
    font-size: 16px;
}

.client-tabs ul li h3 {
    font-size: 16px;
    line-height: 30px;
}
.how-it-work:after {
    width: 875px;
    height: 111px;
    bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
/***********Lets-Talk******/
.clients-forms h4 {
    font-size: 20px;
    margin-bottom: 47px;
    line-height: 27px;
}
/************Profile_V2*********/
.profile-tabs .nav-tabs .nav-link {
    font-size: 16px;
    padding: 20px 8px;
}

.tabs-rate p {
    font-size: 16px;
}
.skill-list ul li a {
    padding: 7px 12px;
}

.Projects-rate-list li h3 {
    font-size: 22px;
}

.Projects-rate-list li {
    padding: 20px 10px;
    width: 24%;
}

.Projects-rate-list li h4 {
    font-size: 14px;
}

.hire-box {
    padding: 15px 0px;
}

.tabs-rate h2 {
    font-size: 20px;
}
.left-aero {
    padding-bottom: 20px;
    padding-top: 20px;
}

.hire-box button.btn.btn-info.her-btt {
    padding: 10px 30px;
    font-size: 15px;
}

.portfolio-img {
    margin-top: 30px;
}

.portfolio-img ul {
    margin-bottom: 30px;
}

.projects-text {
    margin-bottom: 25px;
}

.profile-img h2 {
    font-size: 25px;
}

.profile-img h3 {
    font-size: 16px;
}

.verifi-button h4 b {
    font-size: 25px;
}
.profile-adrien {
    padding-left: 100px;
    padding-top: 50px;
}
.profile-tabs {
    padding-right: 100px;
    padding-top: 50px;
}
.profile-page {
    margin-top: 90px;
}
/*******success********/
.Payment-Succesfull {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.Succesfull-bg {
    padding: 50px;
}

.Succesfull-bg img {
    width: 80px;
}

.Succesfull-bg h2 {
    font-size: 25px;
}

.Succesfull-bg p {
    font-size: 18px;
}
/**********webdesign-requirement********/
.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 30px;
}

.radio-buttons {
    margin-top: 50px;
}

.design-requirement {
    padding-bottom: 50px;
}

.radio-buttons .rdio label {
    font-size: 16px;
}
.radio-buttons .rdio label:before {
    top: 14px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 18px;
}
.webdesign-page {
    padding: 50px 0px;
	    margin-top: 40px;
}
/*********Client-Dashboard******/
.post-table {
    margin-top: 30px;
}

.client-page {
    padding-bottom: 50px;
	    margin-top: 78px;
}

.desh-text h4 {
    font-size: 14px;
}

.desh-text h5 {
    font-size: 20px;
    margin: 0;
}

.login-form {
    padding: 30px;
}

.login-page {
    padding: 100px 0px;
}

.login-form h1 {
    font-size: 30px;
    margin-bottom: 30px;
}
.setting-page {
    margin-top: 79px;
    padding-bottom: 50px;
}
/********profile******/
.edit-profile-page {
    margin-top: 80px;
}

.completion-bg h2 {
    font-size: 20px;
}

.profile-form .form-group label {
    font-size: 16px;
}

.profile-form .form-group input {
    height: 40px;
    font-size: 14px;
}
.hourly-form .form-group input {
   width:200px;
}

.profile-form .form-group textarea {
    font-size: 14px;
    height: 122px;
}
.edit-title h2 {
    font-size: 40px;
}
.edit-title h3 {
    font-size: 18px;
}

.profile-form .form-group select {
    height: 40px;
    font-size: 14px;
}

.image-upload h2 {
    padding: 15px 0;
    font-size: 14px;
}

.profile-form h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.add-exprens {
    margin-bottom: 20px;
}

.add-exprens a {
    font-size: 14px;
}

.form-cncle-button button {
    padding: 10px 50px;
}

.completion-bg ul li h4 {
    font-size: 13px;
}

.circle strong {
    font-size: 25px;
}

.circle strong span {
    font-size: 18px;
}
.profile-information {
    padding: 40px;
}
.about-logo img {
    width: 58%;
}

.about-logo {
    padding-bottom: 50px;
}

.business-banner.about-bgg {    padding-top: 146px;    padding-bottom: 159px;}
.login-form-fr h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form-fr .form-group input {
    height: 40px;
}

button.btn.btn-default.loginbt {
    font-size: 15px;
    margin-top: 20px;
}
.week-list h5 {
    font-size: 19px !important;
}

.Total-Earning h5 {
    font-size: 26px;
}

ul.week-list {
    margin-top: 71px;
}
.payment-heading h3 {
    font-size: 18px;
}
.hired-totl-price h3 {
    font-size: 20px;
}
.breadcrumb-nav .title h2 {
    font-size: 30px;
}

.breadcrumb-nav {
    padding: 10px 0;
}

.hire-adrien-form .form-group {
    margin-bottom: 20px;
}

.hire-adrien-form label {
    font-size: 16px;
}

.hire-adrien-form .form-control {
    height: 40px;
}

.hire-adrien-form textarea.form-control {
    height: 100px;
    font-size: 15px;
}

.hire-adrien-form .input-file {
    right: 0;
}
.admin-bg p {
    font-size: 15px;
}
.iconic-heading .heading h2 {
    font-size: 30px;
}
.seting-tabs .nav-tabs .nav-item .nav-link {
    font-size: 16px;
}

.gernal-tabs li h3 {
    font-size: 15px;
}

.gernal-tabs li h2 {
    font-size: 15px;
}
.contact-detals-view ul h3 {
    font-size: 14px;
}

.contact-detals-view ul h2 {
    font-size: 14px;
}

.contact-detals-view h5 {
    font-size: 18px;
}

}


@media only screen and (min-width: 1366px) and (max-width: 1900px) {
/*********about-us******/	
.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    padding: 10px 9px;
}

.bg-light {
    padding: 10px 50px;
}
.profile-page {
    margin-top: 90px;
}

.business-banner {
    padding: 100px 0px;
}

.business-banner h2 {
    font-size: 30px;
    margin-bottom: 20px;
    line-height: 40px;
}
.how-it-work .business-banner h2 {
    padding-top: 50px;
}

.business-banner p {
    font-size: 16px;
    line-height: 26px;
}

.about-tabs .nav-tabs .nav-link {
    font-size: 14px;
    padding: 15px 0;
}

.about-list-taab h2 {
    padding-top: 80px;
    font-size: 40px;
}

.about-list-taab p {
    font-size: 16px;
}

.about-list-taab {
    padding: 50px 0px;
}

.high-perfomance {
    margin: 30px 0px;
}

.row.involis-project {
    margin-top: 0;
}

.our-culture {
    padding: 100px 0px;
}

.our-culture h2 {
    font-size: 40px;
}

.our-culture p {
    font-size: 20px;
}

.find-expert {
    padding: 50px 0px;
}

.find-expert h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.find-expert p {
    font-size: 18px;
    margin-bottom: 20px;
}

.find-expert h4 {
    margin-top: 20px;
}

.testmonial-bg {
    margin-top: 50px;
    padding-bottom: 50px;
}

.testmonial-title h2 {
    font-size: 30px;
}

.testmonial-title ul h4 {
    font-size: 16px;
}

.testmonial {
    margin-top: 30px;
}

.test-box p {
    font-size: 16px;
    margin-bottom: 30px;
}

.mc-nallay h3 {
    font-size: 14px;
}

.mc-nallay h4 {
    font-size: 14px;
}

.try-today {
    padding-top: 50px;
}

h2.try-title {
    font-size: 30px;
}

.nav-tabs .nav-link {
    font-size: 16px;
}

.clients-forms p {
    font-size: 16px;
    margin-bottom: 30px;
}

.clients-forms {
    padding: 50px;
}

.Justzoom-Developers {
    margin: 50px 0px;
}

h2.just-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.Justzoom-Developers ul li h3 {
    font-size: 16px;
}

.footer h2 {
    font-size: 20px;
}

.footer-link li a {
    font-size: 16px;
    line-height: 30px;
}

.footer h4 {
    font-size: 16px;
}

ul.social-link {
    margin-top: 50px;
}

.copy-right {
    margin-top: 50px;
    padding: 20px 0px;
}

.footer {
    padding-top: 50px;
}
/***********blog*******/	
.blog-bg {
    padding: 120px 0px;
}

.blog-bg h2 {
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.blog-bg p {
    font-size: 16px;
    line-height: 26px;
}
.blog-bg:before {
    right: 170px;
}

.blog-listing {
    padding: 50px 0px;
    padding-bottom: 0;
}

.blog-img h2 {
    font-size: 20px;
}

.blog-box h3 {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 26px;
}
.blog-box a {
    font-size: 18px;
}
.blog-box {
    margin-bottom: 30px;
}

.pagination-list {
    margin-top: 0px;
}
/********Blog-detail******/
.blog-banner {
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-banner h3 {
    font-size: 25px;
    line-height: 40px;
    margin-bottom: 20px;
}

.blog-content {
    padding: 50px 0px;
    padding-bottom: 0;
}

.blog-content p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 27px;
}

.blog-content h2 {
    margin-bottom: 10px;
    font-size: 15px;
}

button.btn.btn-secondary.back-button {
    margin-top: 50px;
}
/***********chatting*******/
.chat-user-profile h2 {
    font-size: 16px;
    margin-bottom: 0;
}

.chat-user-profile h2 span {
    width: 82px;
    font-size: 14px;
}

.chat-user-profile h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.full-profile-btn {
    font-size: 14px;
    margin-left: 15px;
}

.user-hired-btn {
    width: 132px;
    height: 35px;
    font-size: 13px;
    line-height: initial;
}

h4.active-time {
    margin-top: 8px;
}

.chat-user-statics ul li h3 {
    font-size: 16px;
    margin: 0;
}

.chat-user-statics ul li p {
    font-size: 12px;
}

.raiting .checked {
    font-size: 13px;
}

.raiting {
    margin-bottom: 10px;
}

.about-chat-user p {
    font-size: 13px;
}

.review-details p {
    font-size: 14px;
}

.sent_msg p, .received_withd_msg p {
    font-size: 15px;
}
/*********clients*********/
.header:before {
    width: 1000px;
    height: 913px;
    background-size: contain;
}

.Benefits {
    padding-top: 100px;
    padding-bottom: 60px;
}

.Benefits h2 {
    font-size: 30px;
}

.Benefits p {
    font-size: 16px;
    line-height: 26px;
}

.Benefits ul li h3 {
    font-size: 16px;
    line-height: 30px;
}

.row.benifit-2 {
    margin-top: 150px;
}
/************contact*********/
.contact-bg {
    padding: 50px 0px;
}

.contact-bg h2 {
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 40px;
}

.Are-you-client h3 {
    font-size: 25px;
    line-height: 50px;
}

.Are-you-client p {
    font-size: 16px;
    line-height: 25px;
}

.Are-you-client button {
    margin-top: 20px;
}

.have-account {
    margin: 20px 0px;
}

.have-account h2 {
    font-size: 20px;
}
/*********create-account*******/
.Lets-Talk-page {
    padding-top: 50px;
    margin-bottom: 50px;
}

h2.lets-talk-title {
    font-size: 40px;
    line-height: 80px;
    padding-bottom: 20px;
}

/**************Enterprise************/
.custom-bulit h2 {
    font-size: 30px;
}

.custom-bulit p {
    font-size: 16px;
    line-height: 26px;
}

.custom-bulit p br {
    display: none;
}

.custom-bulit {
    padding: 50px 0px;
}

.title h2 {
    font-size: 30px;
}

.title p {
    font-size: 16px;
}

.teams-list p {
    font-size: 16px;
    line-height: 26px;
}

.teams-list h3 {
    font-size: 16px;
}

.sign-button {
    padding-top: 50px;
}

.sign-button p {
    font-size: 20px;
}
/***********hire-adrien*********/
.hire-adrien-section {
    padding-top: 0px;
}

.breadcrumb-nav .title h2 {
    font-size: 30px;
    margin: 0;
}
.payment-heading h3 {
    font-size: 18px;
}
.payment-notes h6 {
    font-size: 16px;
}
.hire-adrien-form button.btn.btn-continue {
    height: 40px;
}

.hire-adrien-form label {
    font-size: 16px;
}

.hired-totl-price h3 {
    font-size: 16px;
}
.hire-adrien-form .form-control {
    height: 40px;
    font-size: 15px;
}

.hire-adrien-form .form-group {
    margin-bottom: 15px;
}

.hire-adrien-form textarea.form-control {
    height: 100px;
}

.hire-adrien-form .input-file {
    right: 0;
}

.hire-adrien-form .commitment-radio label {
    font-size: 16px;
}

.hire-profile h2 {
    font-size: 16px;
}

.hired-price {
    font-size: 20px;
}
.hire-adrien-page {
    padding-bottom: 50px;
}
.hire-adrien-form {
    padding: 30px 0;
}
.breadcrumb-nav {
    padding: 10px 0;
}
/*********hiretoptelent*********/
.hiretoptelent-page {
    padding: 50px 0px;
}

.hiretoptelent-bg {
    padding: 60px 40px;
    margin-top: 80px;
}

.you-interest h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.you-interest h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.surch-form input {
    height: 50px;
}

.surch-form span {
    top: 13px;
}

.you-interest {
    padding-bottom: 60px;
}

.Finance-listing li h3 {
    font-size: 16px;
    line-height: 30px;
}
/*********howitworks********/
.how-it-work:after {
    width: 760px;
    background-size: contain;
    height: 110px;
    background-repeat: no-repeat;
}

.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 18px;
}

.client-tabs p {
    font-size: 16px;
    line-height: 26px;
}
.client-tabs h2 {
    font-size: 30px;
    line-height: 40px;
}

.client-tabs ul li h3 {
    font-size: 16px;
    line-height: 29px;
}

.client-tabs .row {
    padding: 70px 0px;
}
/***********index**********/
.banner {
    padding-top: 100px;
}

.banner h2 {
    font-size: 30px;
    line-height: 40px;
}

.banner p {
    font-size: 16px;
    line-height: 32px;
}

.banner:before {
    width: 1053px;
    height: 808px;
    background-size: contain;
}

.logo-list ul li img {
    width: 80%;
}

.logo-list {
    padding: 20px 20px;
}

.we-talent h3 {
    font-size: 30px;
}

.we-talent p {
    font-size: 16px;
}
.we-talent a {
    font-size: 18px;
}

.client-gallrey {
    margin-top: 50px;
    padding: 50px 20px;
}

.slide-box img {
    width: 100%;
}

.slide-tex p span img {
    width: auto;
}

.slide-tex h2 {
    font-size: 14px;
}

.slide-tex p {
    font-size: 12px;
}

.slide-box {
    max-width: 179px;
    margin: 13px 0;
}

button.btn.btn-secondary.diceover-btt {
    margin-top: 50px;
    font-size: 18px;
    padding: 15px 40px;
}

.range-slider {
    margin-top: 80px;
}

.connect-demand h2 {
    font-size: 30px;
    line-height: 40px;
}

.connect-demand p {
    font-size: 16px;
    line-height: 28px;
}

.connect-demand ul li h3 {
    font-size: 16px;
    line-height: 32px;
}

button.btn.btn-secondary.Get-Started {
    margin-top: 30px;
}

ul.Designers-list li:before {
    width: 120px;
}

.connect-demand .col-md-6 {
    padding: 50px 100px !important;
}

.get-banner {
    width: 450px !important;
    height: 450px;
    padding-top: 101px;
}

.get-banner h5 {
    font-size: 20px;
}

.get-banner h6 {
    font-size: 18px;
    margin-top: 30px;
}

.hire-project {
    padding-top: 50px;
}

.hare-left h2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}

.hare-left p {
    font-size: 18px;
}

.crwford-bg ul li:nth-child(2) {
    right: -11px;
}

.crwford-bg ul li:nth-child(3) {
    right: -42px;
    top: 22px;
}

.crwford-box h2 {
    font-size: 16px;
}

.crwford-box h4 {
    margin-top: 14px;
}

.demand-talent {
    padding-top: 60px;
}

.demand-talent h2 {
    font-size: 30px;
    line-height: 40px;
}

.demand-talent p {
    font-size: 20px;
    margin-bottom: 50px;
}
.clinet-say ul li h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.clinet-say ul li h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.demand-talent:before {
    width: 834px;
    height: 795px;
    background-size: contain;
    background-repeat: no-repeat;
}
ul.Designers-list li {
    margin-bottom: 50px;
}
.clients-forms h4 {
    font-size: 20px;
    margin-bottom: 48px;
    line-height: 28px;
}
/************Profile_V2*********/
.profile-adrien {
    padding-left: 200px;
}

.profile-img h2 {
    font-size: 20px;
}

.verifi-button h4 b {
    font-size: 20px;
}
.Experience-lsit ul li h3 {
    font-size: 16px;
}

.projects-text h3 {
    font-size: 15px;
}

.profile-tabs {
    padding-right: 120px;
}

.profile-tabs .nav-tabs .nav-link {
    font-size: 16px;
    padding: 20px 20px;
}

.tabs-rate p {
    font-size: 16px;
    margin-bottom: 20px;
}
.left-aero {
    padding-bottom: 20px;
}
.contacts-button button.btn.btn-success {
    padding: 10px 0;
}

.Projects-rate-list li h3 {
    font-size: 20px;
}

.Projects-rate-list li h4 {
    font-size: 14px;
}

.Projects-rate-list li {
    padding: 24px 4px;
}

.hire-box {
    margin-top: 40px;
    padding: 15px 0px;
}

.tabs-rate h2 {
    font-size: 20px;
}

.hire-box button.btn.btn-info.her-btt {
    padding: 10px 22px;
    font-size: 15px;
}

.Experience-lsit {
    margin-top: 40px;
}

.portfolio-img {
    margin-top: 40px;
}

.portfolio-img ul {
    margin-bottom: 50px;
}

.projects-text {
    margin-bottom: 20px;
}

/*******success********/
.Payment-Succesfull {
    padding-top: 50px;
    padding-bottom: 100px;
}

.Succesfull-bg {
    padding: 50px;
}

.Succesfull-bg img {
    width: 80px;
}

.Succesfull-bg h2 {
    font-size: 25px;
}

.Succesfull-bg p {
    font-size: 18px;
}
/**********webdesign-requirement********/
.radio-buttons h2 {
    font-size: 25px;
    margin-bottom: 30px;
}
button.btn.btn-primary.join-btt {
    padding: 14px 82px;
}

.radio-buttons {
    margin-top: 50px;
}

.design-requirement {
    padding-bottom: 50px;
}

.radio-buttons .rdio label {
    font-size: 16px;
}
.radio-buttons .rdio label:before {
    top: 14px;
}
.radio-buttons .rdio input[type="radio"]:checked + label::after {
    top: 18px;
}
.webdesign-page {
    padding: 50px 0px;
}

/*******************/
.why-banner .business-banner {
    padding: 100px 0px;
}

.why-banner .business-banner h2 {
    padding-top: 100px;
}
.Clients-post {
    padding-top: 60px;
    padding-left: 80px;
}

.Clients-post h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.Clients-post-text p {
    font-size: 16px;
}
.business-banner.about-bgg {
   
}
.review-details h4 {
    font-size: 16px;
}

.chat-profile h3.title {
    font-size: 16px;
}
.chat-date {
    padding: 15px 0;
    font-size: 14px;
}
.client-page {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-top: 90px;
}
.hire-web h6 {
    font-size: 20px;
}

.wirter-hire p {
    font-size: 16px;
}

.hire-web h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.post-table {
    margin-top: 50px;
}

.deshbord-title h2 {
    font-size: 25px;
}

.desh-text h4 {
    font-size: 15px;
}

.desh-text h5 {
    font-size: 18px;
    margin: 0;
}

ul.deshbord-list li img {
    width: 40px;
}

ul.deshbord-list {
    margin-bottom: 30px;
}

h2.opeing-title {
    margin-bottom: 30px;
}

.chat-user-statics ul li.profile-name h2 {
    font-size: 16px;
}

.post-table.Freelancer-table {
    margin-top: 20px;
}

.table td p {
    font-size: 14px;
}

.table th h4 {
    font-size: 14px;
}

.post-text h3 {
    font-size: 14px;
}

.post-text p {
    font-size: 12px;
}
/********profile******/
.edit-profile-page {
    margin-top: 80px;
    padding-top: 80px;
}

.completion-bg h2 {
    font-size: 20px;
}

.profile-form .form-group label {
    font-size: 16px;
}

.profile-form .form-group input {
    height: 40px;
    font-size: 14px;
}
.hourlay-input .form-group input {
    width: 203px;
}

.profile-form .form-group textarea {
    font-size: 14px;
    height: 122px;
}
.edit-title h2 {
    font-size: 30px;
}
.edit-title h3 {
    font-size: 18px;
}

.profile-form .form-group select {
    height: 40px;
    font-size: 14px;
}

.image-upload h2 {
    padding: 15px 0;
    font-size: 14px;
}

.profile-form h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.add-exprens {
    margin-bottom: 20px;
}

.add-exprens a {
    font-size: 14px;
}

.form-cncle-button button {
    padding: 10px 50px;
}

.completion-bg ul li h4 {
    font-size: 13px;
}

.circle strong {
    font-size: 25px;
}

.circle strong span {
    font-size: 18px;
}
.profile-information {
    padding: 40px;
}
.about-logo img {
    width: 35%;
}

.about-logo {
    padding-bottom: 80px;
}

.business-banner.about-bgg {    padding-bottom: 278px;    padding-top: 169px;}
.login-form-fr h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

.login-form-fr .form-group input {
    height: 40px;
}

button.btn.btn-default.loginbt {
    font-size: 15px;
    margin-top: 20px;
    padding: 12px 110px;
}
.login-page {
    padding-top: 90px;
}
.Total-Earning h5 {
    font-size: 25px;
}

.week-list h5 {
    font-size: 16px;
}

.Total-Earning h4 {
    font-size: 16px;
}

ul.week-list {
    margin-top: 82px;
}

.accout-title-n h2 {
    font-size: 16px;
}
.admin-bg p {
    font-size: 16px;
}
.iconic-heading .heading h2 {
    font-size: 30px;
}
.seting-tabs .nav-tabs .nav-item .nav-link {
    font-size: 16px;
}

.gernal-tabs li h3 {
    font-size: 15px;
}

.gernal-tabs li h2 {
    font-size: 15px;
}
.contact-detals-view ul h3 {
    font-size: 14px;
}

.contact-detals-view ul h2 {
    font-size: 14px;
}

.contact-detals-view h5 {
    font-size: 18px;
}
.how-it-work-tabs .nav-tabs .nav-link {
    font-size: 16px;
}

.Clients-post-text h3 {
    font-size: 16px;
}

.Clients-post ul li {
    margin-bottom: 30px;
}

}

@media only screen and (min-width: 1920px) and (max-width: 5000px) {.login-modal .modal-dialog {     margin-top: 250px;}	div#part1 {    margin-top: 120px;}.profile-information {    margin-top: 50px;}		}.profile-list {    width: 100%;}